In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

In [2]:
#from datetime import date

In [3]:
#date.today().year

In [4]:
df = pd.ExcelFile('Annual GDP 2015-2020 Tables.xlsx')

In [5]:
#df = pd.ExcelFile('GDP Q2 2021 Tables.xlsx')

In [6]:
df.sheet_names

['kosong (0)',
 'DATA MAKRO',
 'Jadual Ringkasan',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 'kosong (1)',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13']

In [7]:
df.sheet_names[0]

'kosong (0)'

In [8]:
#df.parse('DATA MAKRO').head(50)

In [9]:
df1 = df.parse('DATA MAKRO')
df1.head(50)

,MALAYSIA 2015 - 2020,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,DATA PENTING EKONOMI MAKRO,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,MACRO ECONOMIC KEY DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,2015,2016.0,2017.0,2018.0,2019.0,2020.0,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,Nilai (RM Bilion),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,Value (RM Billion),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,KDNK pada harga malar 2015\n\n\n,NaN,NaN,NaN,1176.9,1229.3,1300.8,1363.8,1424.3,1343.9,NaN,NaN,GDP at constant 2015 prices \n\n
7,NaN,NaN,Pertanian\n,NaN,NaN,97.5,94.0,99.5,99.6,101.6,99.4,NaN,NaN,Agriculture
8,NaN,NaN,Perlombongan dan pengkuarian\n,NaN,NaN,103.1,105.4,105.8,103.6,102.9,92.0,NaN,NaN,Mining and quarrying
9,NaN,NaN,Pembuatan\n,NaN,NaN,262.4,273.9,290.5,304.8,316.3,307.9,NaN,NaN,Manufacturing
10,NaN,NaN,Pembinaan\n,NaN,NaN,55.4,59.5,63.5,66.2,66.5,53.6,NaN,NaN,Construction
11,NaN,NaN,Perkhidmatan\n\n,NaN,NaN,643.9,680.6,723.4,773.0,820.9,775.7,NaN,NaN,Services\n
12,NaN,Permintaan domestik pada harga malar 2015 \n\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Domestic demand at constant 2015 prices \n\n
13,NaN,NaN,Perbelanjaan penggunaan akhir swasta\n,NaN,NaN,635.1,672.3,718.7,776.1,835.7,799.4,NaN,NaN,Private final consumption expenditure
14,NaN,NaN,Perbelanjaan penggunaan akhir kerajaan \n,NaN,NaN,154,155.6,164.4,170.0,173.1,179.9,NaN,NaN,Government final consumption expenditure
15,NaN,NaN,Pembentukan modal tetap kasar \n \n,NaN,NaN,304.4,312.2,331.1,335.6,328.6,281.1,NaN,NaN,Gross fixed capital formation \n
16,NaN,"Eksport,import dan imbangan perdagangan \n\n",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Exports,imports and balance of trade"
17,NaN,NaN,Eksport (f.o.b)\n,NaN,NaN,777.4,787.0,934.9,1003.6,995.1,981.0,NaN,NaN,Exports (f.o.b)
18,NaN,NaN,Import (c.i.f)\n,NaN,NaN,685.8,698.8,836.4,879.8,849.4,796.2,NaN,NaN,Imports (c.i.f)
19,NaN,NaN,Imbangan perdagangan\n,NaN,NaN,91.6,88.1,98.5,123.8,145.7,184.8,NaN,NaN,Balance of trade
20,NaN,Imbangan pembayaran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Balance of payments
21,NaN,NaN,Imbangan barangan\n,NaN,NaN,109.2,102.0,117.1,114.6,124.7,138.7,NaN,NaN,Balance of goods
22,NaN,NaN,Imbangan tidak ketara\n,NaN,NaN,-74.1,-72.1,-78.8,-82.3,-71.8,-78.7,NaN,NaN,Balance of invisibles
23,NaN,NaN,Imbangan akaun semasa\n,NaN,NaN,35.2,29.9,38.3,32.3,52.9,60.0,NaN,NaN,Balance on current account
24,NaN,PNK pada harga semasa \n,NaN,NaN,NaN,1144.8,1215.1,1333.7,1402.7,1473.7,1388.0,NaN,NaN,GNI at current prices
25,NaN,PNK pada harga malar 2015\n,NaN,NaN,NaN,1155.9,1211.3,1281.7,1335.1,1402.5,1330.2,NaN,NaN,GNI at constant 2015 prices
26,NaN,Tabungan negara kasar \n,NaN,NaN,NaN,334.4,354.8,388.9,378.3,371.3,339.5,NaN,NaN,Gross national savings
27,NaN,NaN,NaN,NaN,NaN,Peratus perubahan tahunan (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,Annual percentage change (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,KDNK pada harga malar 2015 \n,NaN,NaN,NaN,..,4.4,5.8,4.8,4.4,-5.6,NaN,NaN,GDP at constant 2015 prices \n
31,NaN,NaN,Pertanian\n,NaN,NaN,..,-3.7,5.9,0.1,2.0,-2.2,NaN,NaN,Agriculture
32,NaN,NaN,Perlombongan dan pengkuarian\n,NaN,NaN,..,2.2,0.4,-2.2,-0.6,-10.6,NaN,NaN,Mining and quarrying
33,NaN,NaN,Pembuatan\n,NaN,NaN,..,4.4,6.0,5.0,3.8,-2.6,NaN,NaN,Manufacturing
34,NaN,NaN,Pembinaan\n,NaN,NaN,..,7.4,6.7,4.2,0.4,-19.4,NaN,NaN,Construction
35,NaN,NaN,Perkhidmatan\n,NaN,NaN,..,5.7,6.3,6.9,6.2,-5.5,NaN,NaN,Services
36,NaN,Permintaan domestik pada harga malar 2015 \n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Domestic demand at constant 2015 prices \n
37,NaN,NaN,Perbelanjaan penggunaan akhir swasta\n,NaN,NaN,..,5.9,6.9,8.0,7.7,-4.3,NaN,NaN,Private final consumption expenditure
38,NaN,NaN,Perbelanjaan penggunaan akhir kerajaan\n,NaN,NaN,..,1.1,5.7,3.4,1.8,3.9,NaN,NaN,Government final consumption expenditure
39,NaN,NaN,Pembentukan modal tetap kasar \n,NaN,NaN,..,2.6,6.1,1.4,-2.1,-14.5,NaN,NaN,Gross fixed capital formation
40,NaN,PNK pada harga semasa \n,NaN,NaN,NaN,..,6.1,9.8,5.2,5.1,-5.8,NaN,NaN,GNI at current prices
41,NaN,PNK pada harga malar 2015 \n\n,NaN,NaN,NaN,..,4.8,5.8,4.2,5.0,-5.2,NaN,NaN,GNI at constant 2015 prices \n
42,NaN,Indeks Harga Pengguna (2010=100) \n\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Consumer Price Index (2010=100) \n
43,NaN,NaN,Semua kumpulan\n,NaN,NaN,2.1,2.1,3.7,1.0,0.7,-1.2,NaN,NaN,All groups
44,NaN,NaN,Makanan dan minuman bukan alkohol,NaN,NaN,3.6,3.9,4.0,1.6,1.7,1.3,NaN,NaN,Food and non-alcoholic beverages
45,NaN,NaN,"Perumahan, air, elektrik, gas dan bahan api lain",NaN,NaN,2.5,2.4,2.2,2.0,1.9,-1.7,NaN,NaN,"Housing, water, electricity, gas and other fuels"
46,NaN,NaN,Pengangkutan,NaN,NaN,-4.5,-4.6,13.2,1.6,-3.1,-10.0,NaN,NaN,Transport
47,NaN,Indeks harga pengeluar (2010=100) \n\n\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Producer price index (2010=100) \n\n
48,NaN,NaN,Pengeluaran tempatan\n,NaN,NaN,-7.4,-1.1,6.7,-1.1,-1.4,-2.7,NaN,NaN,Local production
49,NaN,Indeks pengeluaran perindustrian (2015=100) \n\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Industrial production index (2015=100) \n\n

In [10]:
#df1['Unnamed: 42'].drop([3]).dropna() - df1['Unnamed: 41'].drop([3]).dropna()

In [11]:
#df1.iloc[2].dropna()

In [12]:
#df1.iloc[2].dropna()[-1]

In [13]:
#years = df2.iloc[2].dropna()

In [14]:
#years

In [15]:
#years[years.apply(lambda x: isinstance(x, int))]

In [16]:
#max(years[years.apply(lambda x: isinstance(x, int))])

In [17]:
latest_year = df1.iloc[2].dropna()[-1].astype(int)
latest_year

2020

In [18]:
#df1.iloc[2].dropna()[-1]

In [19]:
#previous_year = df1.iloc[2].dropna()[-2]
#previous_year

In [20]:
#df1.iloc[2][df1.iloc[2] == latest_year].index

In [21]:
df1.iloc[2][df1.iloc[2] == latest_year].index[-1]

'Unnamed: 10'

In [22]:
#df1.iloc[3][df1.iloc[3] == latest_quarter].index[-1]

In [23]:
df1.columns.get_loc(df1.iloc[2][df1.iloc[2] == latest_year].index[-1])

10

In [24]:
#df1.columns.get_loc(df1.iloc[3] == df1.iloc[3].dropna()[-1])

In [25]:
#index_latest_quarter =  max(df1.iloc[3][df1.iloc[3] == latest_quarter].index)

In [26]:
index_latest_year = df1.columns.get_loc(df1.iloc[2][df1.iloc[2] == latest_year].index[-1])
index_latest_year

10

In [27]:
#index_previous_quarter =  max(df1.iloc[3][df1.iloc[3] == previous_quarter].index)

In [28]:
#index_previous_quarter

In [29]:
#df1.iloc[3][index_latest_quarter]

In [30]:
#df1.iloc[13].dropna()[-1]

In [31]:
print('\033[1m','Latest year:', latest_year,'\033[0m')

print('\033[1m','Annual growth rate GDP:','\033[0m')
gdp = []
for i in range(31,36):
    print(df1.iloc[i].dropna()[-1], df1.iloc[i][index_latest_year],'%')
    gdp.append([df1.iloc[i].dropna()[-1], df1.iloc[i][index_latest_year]])
    
#for i in range(20,27):
 #   print(df1.iloc[i].dropna()[-1], df1.iloc[i][index_latest_quarter])

 Latest year: 2020
 Annual growth rate GDP:
Agriculture -2.2 %
Mining and quarrying -10.6 %
Manufacturing -2.6 %
Construction -19.4 %
Services -5.5 %

In [32]:
gdp

[['Agriculture', -2.2],
 ['Mining and quarrying', -10.6],
 ['Manufacturing', -2.6],
 ['Construction', -19.4],
 ['Services', -5.5]]

In [33]:
df_gdp = pd.DataFrame(gdp, columns = ['Subsector', 'AnnualGrowthRate'] )
df_gdp

              Subsector  AnnualGrowthRate
0           Agriculture              -2.2
1  Mining and quarrying             -10.6
2         Manufacturing              -2.6
3          Construction             -19.4
4              Services              -5.5

In [34]:
#df_gdp.columns = ['Subsector', 'AnnualGrowthRate']

In [35]:
#df_gdp['Subsector']

In [36]:
#df_gdp['AnnualGrowthRate']

In [37]:
for index, row in df_gdp.iterrows():
    print(index+1, row.Subsector, row.AnnualGrowthRate)

1 Agriculture -2.2
2 Mining and quarrying -10.6
3 Manufacturing -2.6
4 Construction -19.4
5 Services -5.5

In [38]:
from datetime import date, datetime

In [39]:
now = datetime.now()
now.strftime('%Y/%m/%d %H:%M:%S')

'2022/01/13 09:50:50'

In [40]:
datetime.now().strftime('%Y/%m/%d %H:%M:%S')

'2022/01/13 09:50:50'

In [41]:
datetime.now().strftime('%Y/%m/%d %H:%M:%S')

'2022/01/13 09:50:51'

In [42]:
today = date.today()
today

datetime.date(2022, 1, 13)

In [43]:
type(today)

datetime.date

In [44]:
import os, time

In [45]:
time.ctime(os.path.getmtime("C:/Users/zhenl/Desktop/Kit Loong/Economic data and python file/Annual GDP 2015-2020 Tables.xlsx"))

'Wed Dec 29 15:55:08 2021'

In [46]:
time.ctime(os.path.getctime("Annual GDP 2015-2020 Tables.xlsx"))

'Wed Dec 29 10:53:21 2021'

In [47]:
os.path.getctime("Annual GDP 2015-2020 Tables.xlsx")

1640746401.635952

In [48]:
datetime.fromtimestamp(os.path.getctime("Annual GDP 2015-2020 Tables.xlsx"))

datetime.datetime(2021, 12, 29, 10, 53, 21, 635952)

In [49]:
os.stat("C:/Users/zhenl/Desktop/Kit Loong/Economic data and python file/Annual GDP 2015-2020 Tables.xlsx")

os.stat_result(st_mode=33206, st_ino=11540474045169912, st_dev=3530947317, st_nlink=1, st_uid=0, st_gid=0, st_size=477243, st_atime=1642038646, st_mtime=1640764508, st_ctime=1640746401)

In [50]:
import pyodbc

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_gdp.iterrows():
   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
    #                index+1, row.AnnualGrowthRate)

for index, row in df_gdp.iterrows():
    cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
                    1,index+1,1, int(latest_year),-1, row.AnnualGrowthRate,0, datetime.fromtimestamp(os.path.getctime("Annual GDP 2015-2020 Tables.xlsx")),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)
cnxn.commit()
cursor.close()

In [51]:
today.strftime('%Y/%m/%d')

'2022/01/13'

In [52]:
datetime.fromtimestamp(os.path.getctime("Annual GDP 2015-2020 Tables.xlsx"))

datetime.datetime(2021, 12, 29, 10, 53, 21, 635952)