In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

In [2]:
#from datetime import date

In [3]:
#date.today().year

In [4]:
df = pd.ExcelFile('Annual GDP 2015-2020 Tables.xlsx')

In [5]:
#df = pd.ExcelFile('GDP Q2 2021 Tables.xlsx')

In [6]:
df.sheet_names

['kosong (0)',
 'DATA MAKRO',
 'Jadual Ringkasan',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 'kosong (1)',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13']

In [7]:
df.sheet_names[0]

'kosong (0)'

In [8]:
#df.parse('DATA MAKRO').head(50)

In [9]:
df1 = df.parse('DATA MAKRO', header = 3)
df1.head(50)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,2015,2016,2017,2018,2019,2020,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,Nilai (RM Bilion),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Value (RM Billion),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,KDNK pada harga malar 2015\n\n\n,NaN,NaN,NaN,1176.9,1229.3,1300.8,1363.8,1424.3,1343.9,NaN,NaN,GDP at constant 2015 prices \n\n
4,NaN,NaN,Pertanian\n,NaN,NaN,97.5,94.0,99.5,99.6,101.6,99.4,NaN,NaN,Agriculture
5,NaN,NaN,Perlombongan dan pengkuarian\n,NaN,NaN,103.1,105.4,105.8,103.6,102.9,92.0,NaN,NaN,Mining and quarrying
6,NaN,NaN,Pembuatan\n,NaN,NaN,262.4,273.9,290.5,304.8,316.3,307.9,NaN,NaN,Manufacturing
7,NaN,NaN,Pembinaan\n,NaN,NaN,55.4,59.5,63.5,66.2,66.5,53.6,NaN,NaN,Construction
8,NaN,NaN,Perkhidmatan\n\n,NaN,NaN,643.9,680.6,723.4,773.0,820.9,775.7,NaN,NaN,Services\n
9,NaN,Permintaan domestik pada harga malar 2015 \n\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Domestic demand at constant 2015 prices \n\n
10,NaN,NaN,Perbelanjaan penggunaan akhir swasta\n,NaN,NaN,635.1,672.3,718.7,776.1,835.7,799.4,NaN,NaN,Private final consumption expenditure
11,NaN,NaN,Perbelanjaan penggunaan akhir kerajaan \n,NaN,NaN,154,155.6,164.4,170.0,173.1,179.9,NaN,NaN,Government final consumption expenditure
12,NaN,NaN,Pembentukan modal tetap kasar \n \n,NaN,NaN,304.4,312.2,331.1,335.6,328.6,281.1,NaN,NaN,Gross fixed capital formation \n
13,NaN,"Eksport,import dan imbangan perdagangan \n\n",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Exports,imports and balance of trade"
14,NaN,NaN,Eksport (f.o.b)\n,NaN,NaN,777.4,787.0,934.9,1003.6,995.1,981.0,NaN,NaN,Exports (f.o.b)
15,NaN,NaN,Import (c.i.f)\n,NaN,NaN,685.8,698.8,836.4,879.8,849.4,796.2,NaN,NaN,Imports (c.i.f)
16,NaN,NaN,Imbangan perdagangan\n,NaN,NaN,91.6,88.1,98.5,123.8,145.7,184.8,NaN,NaN,Balance of trade
17,NaN,Imbangan pembayaran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Balance of payments
18,NaN,NaN,Imbangan barangan\n,NaN,NaN,109.2,102.0,117.1,114.6,124.7,138.7,NaN,NaN,Balance of goods
19,NaN,NaN,Imbangan tidak ketara\n,NaN,NaN,-74.1,-72.1,-78.8,-82.3,-71.8,-78.7,NaN,NaN,Balance of invisibles
20,NaN,NaN,Imbangan akaun semasa\n,NaN,NaN,35.2,29.9,38.3,32.3,52.9,60.0,NaN,NaN,Balance on current account
21,NaN,PNK pada harga semasa \n,NaN,NaN,NaN,1144.8,1215.1,1333.7,1402.7,1473.7,1388.0,NaN,NaN,GNI at current prices
22,NaN,PNK pada harga malar 2015\n,NaN,NaN,NaN,1155.9,1211.3,1281.7,1335.1,1402.5,1330.2,NaN,NaN,GNI at constant 2015 prices
23,NaN,Tabungan negara kasar \n,NaN,NaN,NaN,334.4,354.8,388.9,378.3,371.3,339.5,NaN,NaN,Gross national savings
24,NaN,NaN,NaN,NaN,NaN,Peratus perubahan tahunan (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,Annual percentage change (%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,KDNK pada harga malar 2015 \n,NaN,NaN,NaN,..,4.4,5.8,4.8,4.4,-5.6,NaN,NaN,GDP at constant 2015 prices \n
28,NaN,NaN,Pertanian\n,NaN,NaN,..,-3.7,5.9,0.1,2.0,-2.2,NaN,NaN,Agriculture
29,NaN,NaN,Perlombongan dan pengkuarian\n,NaN,NaN,..,2.2,0.4,-2.2,-0.6,-10.6,NaN,NaN,Mining and quarrying
30,NaN,NaN,Pembuatan\n,NaN,NaN,..,4.4,6.0,5.0,3.8,-2.6,NaN,NaN,Manufacturing
31,NaN,NaN,Pembinaan\n,NaN,NaN,..,7.4,6.7,4.2,0.4,-19.4,NaN,NaN,Construction
32,NaN,NaN,Perkhidmatan\n,NaN,NaN,..,5.7,6.3,6.9,6.2,-5.5,NaN,NaN,Services
33,NaN,Permintaan domestik pada harga malar 2015 \n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Domestic demand at constant 2015 prices \n
34,NaN,NaN,Perbelanjaan penggunaan akhir swasta\n,NaN,NaN,..,5.9,6.9,8.0,7.7,-4.3,NaN,NaN,Private final consumption expenditure
35,NaN,NaN,Perbelanjaan penggunaan akhir kerajaan\n,NaN,NaN,..,1.1,5.7,3.4,1.8,3.9,NaN,NaN,Government final consumption expenditure
36,NaN,NaN,Pembentukan modal tetap kasar \n,NaN,NaN,..,2.6,6.1,1.4,-2.1,-14.5,NaN,NaN,Gross fixed capital formation
37,NaN,PNK pada harga semasa \n,NaN,NaN,NaN,..,6.1,9.8,5.2,5.1,-5.8,NaN,NaN,GNI at current prices
38,NaN,PNK pada harga malar 2015 \n\n,NaN,NaN,NaN,..,4.8,5.8,4.2,5.0,-5.2,NaN,NaN,GNI at constant 2015 prices \n
39,NaN,Indeks Harga Pengguna (2010=100) \n\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Consumer Price Index (2010=100) \n
40,NaN,NaN,Semua kumpulan\n,NaN,NaN,2.1,2.1,3.7,1.0,0.7,-1.2,NaN,NaN,All groups
41,NaN,NaN,Makanan dan minuman bukan alkohol,NaN,NaN,3.6,3.9,4.0,1.6,1.7,1.3,NaN,NaN,Food and non-alcoholic beverages
42,NaN,NaN,"Perumahan, air, elektrik, gas dan bahan api lain",NaN,NaN,2.5,2.4,2.2,2.0,1.9,-1.7,NaN,NaN,"Housing, water, electricity, gas and other fuels"
43,NaN,NaN,Pengangkutan,NaN,NaN,-4.5,-4.6,13.2,1.6,-3.1,-10.0,NaN,NaN,Transport
44,NaN,Indeks harga pengeluar (2010=100) \n\n\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Producer price index (2010=100) \n\n
45,NaN,NaN,Pengeluaran tempatan\n,NaN,NaN,-7.4,-1.1,6.7,-1.1,-1.4,-2.7,NaN,NaN,Local production
46,NaN,Indeks pengeluaran perindustrian (2015=100) \n\n,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Industrial production index (2015=100) \n\n
47,NaN,NaN,Semua bahagian\n,NaN,NaN,..,4.1,4.4,3.1,2.4,-4.4,NaN,NaN,All divisions
48,NaN,NaN,Perlombongan\n,NaN,NaN,..,2.4,0.4,-2.1,-1.3,-10.4,NaN,NaN,Mining
49,NaN,NaN,Pembuatan\n\n,NaN,NaN,..,4.3,6.1,4.8,3.6,-2.7,NaN,NaN,Manufacturing\n

In [10]:
df1[2020][4]

99.4

In [11]:
df1['Unnamed: 13'][4]

'Agriculture'

In [12]:
print('GDP absolute value')
for year in range(2015, 2021):
    n=1
    for i in range(4, 9):
        print(year, n, df1['Unnamed: 13'][i], df1[year][i])
        n+=1

GDP absolute value
2015 1 Agriculture 97.5
2015 2 Mining and quarrying 103.1
2015 3 Manufacturing 262.4
2015 4 Construction 55.4
2015 5 Services
 643.9
2016 1 Agriculture 94.0
2016 2 Mining and quarrying 105.4
2016 3 Manufacturing 273.9
2016 4 Construction 59.5
2016 5 Services
 680.6
2017 1 Agriculture 99.5
2017 2 Mining and quarrying 105.8
2017 3 Manufacturing 290.5
2017 4 Construction 63.5
2017 5 Services
 723.4
2018 1 Agriculture 99.6
2018 2 Mining and quarrying 103.6
2018 3 Manufacturing 304.8
2018 4 Construction 66.2
2018 5 Services
 773.0
2019 1 Agriculture 101.6
2019 2 Mining and quarrying 102.9
2019 3 Manufacturing 316.3
2019 4 Construction 66.5
2019 5 Services
 820.9
2020 1 Agriculture 99.4
2020 2 Mining and quarrying 92.0
2020 3 Manufacturing 307.9
2020 4 Construction 53.6
2020 5 Services
 775.7

In [13]:
print('GDP growth')
for year in range(2016, 2021):
    for i in range(28, 33):
        print(year, df1['Unnamed: 13'][i], df1[year][i])

GDP growth
2016 Agriculture -3.7
2016 Mining and quarrying 2.2
2016 Manufacturing 4.4
2016 Construction 7.4
2016 Services 5.7
2017 Agriculture 5.9
2017 Mining and quarrying 0.4
2017 Manufacturing 6.0
2017 Construction 6.7
2017 Services 6.3
2018 Agriculture 0.1
2018 Mining and quarrying -2.2
2018 Manufacturing 5.0
2018 Construction 4.2
2018 Services 6.9
2019 Agriculture 2.0
2019 Mining and quarrying -0.6
2019 Manufacturing 3.8
2019 Construction 0.4
2019 Services 6.2
2020 Agriculture -2.2
2020 Mining and quarrying -10.6
2020 Manufacturing -2.6
2020 Construction -19.4
2020 Services -5.5

In [14]:
df2 = df.parse('5', header=4)
df2.head(50)

,Unnamed: 0,Jenis aktiviti ekonomi\nKind of economic activity,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,2016,2017,2018,2019e,2020p
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1.,Pertanian\nAgriculture,NaN,NaN,NaN,NaN,NaN,-3.7,5.9,0.1,2.0,-2.2
2,NaN,NaN,1.1,NaN,Getah\nRubber,NaN,NaN,NaN,-6.3,9.3,-17.6,6.1,-18.6
3,NaN,NaN,1.2,NaN,Kelapa sawit \nOil palm,NaN,NaN,NaN,-12.7,16.0,-1.8,1.5,-3.6
4,NaN,NaN,1.3,NaN,Ternakan \nLivestock,NaN,NaN,NaN,3.6,5.1,5.5,6.0,3.5
5,NaN,NaN,NaN,1.3.1,NaN,Ternakan ayam dan itik \nPoultry,NaN,NaN,4.3,3.9,4.1,6.9,4.4
6,NaN,NaN,NaN,1.3.2,NaN,Lembu/ kerbau \nCattle,NaN,NaN,-1.3,-1.5,0.8,6.1,8.9
7,NaN,NaN,NaN,1.3.3,NaN,Ternakan lain \nOther livestocks,NaN,NaN,3.6,9.1,9.2,4.4,0.7
8,NaN,NaN,1.4,NaN,Pertanian lain\nOther agriculture,NaN,NaN,NaN,4.0,3.2,4.3,4.0,5.1
9,NaN,NaN,NaN,1.4.1,NaN,Padi\nPaddy,NaN,NaN,1.8,-1.0,6.2,0.4,2.8
10,NaN,NaN,NaN,1.4.2,NaN,Sayur-sayuran\nVegetables,NaN,NaN,5.1,3.7,4.2,5.0,8.1
11,NaN,NaN,NaN,1.4.3,NaN,Buah-buahan\nFruits,NaN,NaN,3.2,3.0,4.5,3.2,6.7
12,NaN,NaN,NaN,1.4.4,NaN,Tanaman makanan\nFood crops,NaN,NaN,3.7,3.6,4.1,4.7,-0.2
13,NaN,NaN,NaN,1.4.5,NaN,Lain-lain\nOthers,NaN,NaN,2.5,5.1,2.7,3.1,3.3
14,NaN,NaN,1.5,NaN,Perhutanan dan pembalakan\nForestry and logging,NaN,NaN,NaN,-1.9,-15.9,-3.9,-8.6,-18.8
15,NaN,NaN,1.6,NaN,Perikanan\nFishing,NaN,NaN,NaN,2.1,-0.9,-0.8,-0.8,-7.9
16,NaN,NaN,NaN,1.6.1,NaN,Perikanan laut\nMarine fishing,NaN,NaN,4.7,-3.4,-0.2,-0.3,-11.1
17,NaN,NaN,NaN,1.6.2,NaN,Akuakultur\nAquaculture,NaN,NaN,-2.9,4.4,-2.1,-1.8,-1.5
18,NaN,2.,Perlombongan dan pengkuarian\nMining and quarr...,NaN,NaN,NaN,NaN,NaN,2.2,0.4,-2.2,-0.6,-10.6
19,NaN,NaN,2.1,NaN,Minyak mentah dan kondensat\nCrude oil and con...,NaN,NaN,NaN,0.6,-2.2,-0.8,-6.2,-12.4
20,NaN,NaN,2.2,NaN,Gas asli\nNatural gas,NaN,NaN,NaN,3.0,1.7,-4.2,2.4,-9.3
21,NaN,NaN,2.3,NaN,Perlombongan lain & pengkuarian dan perkhidmat...,NaN,NaN,NaN,7.1,7.5,3.1,11.1,-9.0
22,NaN,3.,Pembuatan\nManufacturing,NaN,NaN,NaN,NaN,NaN,4.4,6.0,5.0,3.8,-2.6
23,NaN,NaN,3.1,NaN,Minyak dan lemak daripada sayuran & haiwan\nVe...,NaN,NaN,NaN,-3.2,17.6,-0.1,-1.1,-2.6
24,NaN,NaN,3.2,NaN,Prosesan makanan\nFood processing,NaN,NaN,NaN,6.0,6.1,7.0,6.9,5.0
25,NaN,NaN,3.3,NaN,Minuman\nBeverages,NaN,NaN,NaN,9.8,9.2,3.2,2.9,-14.6
26,NaN,NaN,3.4,NaN,Produk tembakau\nTobacco products,NaN,NaN,NaN,3.1,2.0,1.7,5.8,-18.6
27,NaN,NaN,3.5,NaN,Tekstil dan pakaian\nTextile and wearing appar...,NaN,NaN,NaN,6.7,8.2,4.4,5.5,-12.5
28,NaN,NaN,3.6,NaN,Kulit dan produk berkaitan\nLeather and relate...,NaN,NaN,NaN,8.4,6.2,3.6,5.0,-19.2
29,NaN,NaN,3.7,NaN,Keluaran kayu\nWood products,NaN,NaN,NaN,3.5,3.6,5.5,5.0,-11.4
30,NaN,NaN,3.8,NaN,Kertas dan produk kertas\nPaper and paper prod...,NaN,NaN,NaN,4.4,5.4,4.3,4.5,-3.0
31,NaN,NaN,3.9,NaN,Percetakan dan pengeluaran semula media rakama...,NaN,NaN,NaN,5.6,4.8,3.9,4.2,-4.5
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,3.10,NaN,Produk petroleum bertapis\nRefined petroleum p...,NaN,NaN,NaN,3.4,3.5,3.3,2.8,-9.6
35,NaN,NaN,3.11,NaN,Bahan kimia & produk kimia dan produk farmaseu...,NaN,NaN,NaN,5.8,4.5,4.6,2.1,-4.6
36,NaN,NaN,3.12,NaN,Produk getah\nRubber products,NaN,NaN,NaN,3.5,6.3,5.1,7.0,52.1
37,NaN,NaN,3.13,NaN,Produk plastik\nPlastics products,NaN,NaN,NaN,3.7,2.8,4.1,2.8,2.6
38,NaN,NaN,3.14,NaN,Produk mineral bukan logam\nNon-metallic miner...,NaN,NaN,NaN,4.4,4.5,5.5,4.6,-14.9
39,NaN,NaN,3.15,NaN,Logam asas\nBasic metals,NaN,NaN,NaN,2.2,5.2,4.0,3.9,-5.0
40,NaN,NaN,3.16,NaN,Produk logam yang direka\nFabricated metal pro...,NaN,NaN,NaN,5.1,5.0,5.0,3.8,-15.6
41,NaN,NaN,3.17,NaN,Jentera dan peralatan\nMachinery and equipment,NaN,NaN,NaN,5.5,5.2,5.3,4.0,1.4
42,NaN,NaN,3.18,NaN,Komputer dan kelengkapan peranti\nComputers an...,NaN,NaN,NaN,4.4,-6.8,4.1,4.8,-1.1
43,NaN,NaN,3.19,NaN,Kelengkapan elektrik\nElectrical equipment,NaN,NaN,NaN,5.8,8.2,0.9,2.9,0.2
44,NaN,NaN,3.20,NaN,"Komponen & papan elektronik, peralatan komunik...",NaN,NaN,NaN,8.4,10.1,7.1,3.3,3.7
45,NaN,NaN,3.21,NaN,"Pembuatan peralatan perubatan, ketepatan & opt...",NaN,NaN,NaN,8.0,0.9,7.5,0.4,-1.3
46,NaN,NaN,3.22,NaN,Kenderaan bermotor dan peralatan pengangkutan\...,NaN,NaN,NaN,-4.1,4.6,6.2,6.5,-4.3
47,NaN,NaN,3.23,NaN,Perabot\nFurniture,NaN,NaN,NaN,9.9,5.8,4.2,8.0,-7.9
48,NaN,NaN,3.24,NaN,Pembuatan lain dan pembaikan & pemasangan mesi...,NaN,NaN,NaN,3.8,8.9,6.6,4.4,-7.3
49,NaN,4.,Pembinaan\nConstruction,NaN,NaN,NaN,NaN,NaN,7.4,6.7,4.2,0.4,-19.4

In [15]:
df2.iloc[1].dropna().iloc[0]

'1.'

In [16]:
df2.iloc[1][pd.to_numeric(df2.iloc[1], errors = 'coerce').isnull()].dropna()

Unnamed: 2    Pertanian\nAgriculture
Name: 1, dtype: object

In [17]:
pd.to_numeric(df2.iloc[1], errors = 'coerce').dropna().iloc[-1]

-2.2

In [18]:
df2.iloc[1]#.dropna()

Unnamed: 0                                                              NaN
Jenis aktiviti ekonomi\nKind of economic activity                        1.
Unnamed: 2                                           Pertanian\nAgriculture
Unnamed: 3                                                              NaN
Unnamed: 4                                                              NaN
Unnamed: 5                                                              NaN
Unnamed: 6                                                              NaN
Unnamed: 7                                                              NaN
2016                                                                   -3.7
2017                                                                    5.9
2018                                                                    0.1
2019e                                                                   2.0
2020p                                                                  -2.2
Name: 1, dtype: object

In [19]:
df2.iloc[1].dropna()

Jenis aktiviti ekonomi\nKind of economic activity                        1.
Unnamed: 2                                           Pertanian\nAgriculture
2016                                                                   -3.7
2017                                                                    5.9
2018                                                                    0.1
2019e                                                                   2.0
2020p                                                                  -2.2
Name: 1, dtype: object

In [20]:
df2.iloc[1].dropna().iloc[1]

'Pertanian\nAgriculture'

In [21]:
df.sheet_names['5']

TypeError: list indices must be integers or slices, not str

In [22]:
#df1['Unnamed: 42'].drop([3]).dropna() - df1['Unnamed: 41'].drop([3]).dropna()

In [23]:
df1.iloc[2].dropna().astype(int)

Series([], Name: 2, dtype: int32)

In [24]:
df1.iloc[2].dropna()[-1]

IndexError: index -1 is out of bounds for axis 0 with size 0

In [25]:
years = df1.iloc[2].dropna().astype(int)

In [26]:
years

Series([], Name: 2, dtype: int32)

In [27]:
years.drop(years.index[0], inplace = True) #removing the first element

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
years

In [28]:
#years[years.apply(lambda x: isinstance(x, int))]

In [29]:
#max(years[years.apply(lambda x: isinstance(x, int))])

In [30]:
latest_year = df1.iloc[2].dropna()[-1].astype(int)
latest_year

IndexError: index -1 is out of bounds for axis 0 with size 0

In [31]:
for year in years:
    print(year)

In [32]:
#df1.iloc[2].dropna()[-1]

In [33]:
#previous_year = df1.iloc[2].dropna()[-2]
#previous_year

In [34]:
#df1.iloc[2][df1.iloc[2] == latest_year].index

In [35]:
df1.iloc[2][df1.iloc[2] == latest_year].index[-1]

NameError: name 'latest_year' is not defined

In [36]:
#df1.iloc[3][df1.iloc[3] == latest_quarter].index[-1]

In [37]:
df1.columns.get_loc(df1.iloc[2][df1.iloc[2] == latest_year].index[-1])

NameError: name 'latest_year' is not defined

In [38]:
for year in years:
    print(year)
    year_index = df1.columns.get_loc(df1.iloc[2][df1.iloc[2] == year].index[-1])
    print(year_index)

In [39]:
#df1.columns.get_loc(df1.iloc[3] == df1.iloc[3].dropna()[-1])

In [40]:
#index_latest_quarter =  max(df1.iloc[3][df1.iloc[3] == latest_quarter].index)

In [41]:
index_latest_year = df1.columns.get_loc(df1.iloc[2][df1.iloc[2] == latest_year].index[-1])
index_latest_year

NameError: name 'latest_year' is not defined

In [42]:
#index_previous_quarter =  max(df1.iloc[3][df1.iloc[3] == previous_quarter].index)

In [43]:
#index_previous_quarter

In [44]:
#df1.iloc[3][index_latest_quarter]

In [45]:
#df1.iloc[13].dropna()[-1]

In [46]:
"""
print('\033[1m','Latest year:', latest_year,'\033[0m')

print('\033[1m','Annual growth rate GDP:','\033[0m')
gdp = []
for i in range(31,36):
    print(df1.iloc[i].dropna()[-1], df1.iloc[i][index_latest_year],'%')
    gdp.append([df1.iloc[i].dropna()[-1], df1.iloc[i][index_latest_year]])
    
#for i in range(20,27):
 #   print(df1.iloc[i].dropna()[-1], df1.iloc[i][index_latest_quarter])
 
"""

"\nprint('\x1b[1m','Latest year:', latest_year,'\x1b[0m')\n\nprint('\x1b[1m','Annual growth rate GDP:','\x1b[0m')\ngdp = []\nfor i in range(31,36):\n    print(df1.iloc[i].dropna()[-1], df1.iloc[i][index_latest_year],'%')\n    gdp.append([df1.iloc[i].dropna()[-1], df1.iloc[i][index_latest_year]])\n    \n#for i in range(20,27):\n #   print(df1.iloc[i].dropna()[-1], df1.iloc[i][index_latest_quarter])\n \n"

In [47]:
#print('\033[1m','Latest year:', latest_year,'\033[0m')

print('\033[1m','Annual growth rate GDP:','\033[0m')
gdp = []
for year in years:
    print('\033[1m','Year:', year,'\033[0m')
    year_index = df1.columns.get_loc(df1.iloc[2][df1.iloc[2] == year].index[-1])
    for i in range(31,36):
        print(df1.iloc[i].dropna()[-1], df1.iloc[i][year_index],'%')
        gdp.append([df1.iloc[i].dropna()[-1], df1.iloc[i][year_index]])

 Annual growth rate GDP:

In [48]:
#gdp

In [49]:
df_gdp = pd.DataFrame(gdp, columns = ['Subsector', 'AnnualGrowthRate'] )
df_gdp

Empty DataFrame
Columns: [Subsector, AnnualGrowthRate]
Index: []

In [50]:
#df_gdp.columns = ['Subsector', 'AnnualGrowthRate']

In [51]:
#df_gdp['Subsector']

In [52]:
#df_gdp['AnnualGrowthRate']

In [53]:
for index, row in df_gdp.iterrows():
    print(index+1, row.Subsector, row.AnnualGrowthRate)

In [54]:
#from datetime import date, datetime

In [55]:
#now = datetime.now()
#now.strftime('%Y/%m/%d %H:%M:%S')

In [56]:
#datetime.now().strftime('%Y/%m/%d %H:%M:%S')

In [57]:
#datetime.now().strftime('%Y/%m/%d %H:%M:%S')

In [58]:
#today = date.today()
#today

In [59]:
#type(today)

In [60]:
#import os, time

In [61]:
#time.ctime(os.path.getmtime("C:/Users/zhenl/Desktop/Kit Loong/Economic data and python file/Annual GDP 2015-2020 Tables.xlsx"))

In [62]:
#time.ctime(os.path.getctime("Annual GDP 2015-2020 Tables.xlsx"))

In [63]:
#os.path.getctime("Annual GDP 2015-2020 Tables.xlsx")

In [64]:
#datetime.fromtimestamp(os.path.getctime("Annual GDP 2015-2020 Tables.xlsx"))

In [65]:
#os.stat("C:/Users/zhenl/Desktop/Kit Loong/Economic data and python file/Annual GDP 2015-2020 Tables.xlsx")

In [66]:
"""
import pyodbc
from datetime import date, datetime
import os, time

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_gdp.iterrows():
   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
    #                index+1, row.AnnualGrowthRate)

for index, row in df_gdp.iterrows():
    cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
                    1,index+1,1, int(latest_year),-1, row.AnnualGrowthRate,0, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)
cnxn.commit()
cursor.close()
"""

'\nimport pyodbc\nfrom datetime import date, datetime\nimport os, time\n\nserver = \'DESKTOP-U753JSI\' \ndatabase = \'Economic\' \ncnxn = pyodbc.connect(\'DRIVER={SQL Server};SERVER=\'+server+\';DATABASE=\'+database+\';Trusted_Connection = yes\')\ncursor = cnxn.cursor()\n# Insert Dataframe into SQL Server:\n#for index, row in df_gdp.iterrows():\n   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",\n    #                index+1, row.AnnualGrowthRate)\n\nfor index, row in df_gdp.iterrows():\n    cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",\n                    1,index+1,1, int(latest_year),-1, row.AnnualGrowthRate,0, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1,1,0)\ncnxn.commit()\ncursor.close()\n'

In [67]:
#from itertools import cycle, islice

#cycle(range(1,6))

In [68]:
#list(islice(cycle(range(1,6)), 8))

In [69]:
#for i in range(1, 6):
#    print(i)

In [46]:
import pyodbc
import os, time
from datetime import date, datetime

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_gdp.iterrows():
 #   cursor.execute('[dbo].[SP_ANNUALGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(index+1)+', @Country_ID= 1 ,@Year='+str(latest_year)+',@Quarter= -1,@Value='+str(row.AnnualGrowthRate)+', @Is_Q2Q=0')


#for year in years:
#    #print('\033[1m','Year:', year,'\033[0m')
#    year_index = df1.columns.get_loc(df1.iloc[2][df1.iloc[2] == year].index[-1])
#    n=1
#    for i in range(31,36):
        #print(df1.iloc[i].dropna()[-1], df1.iloc[i][year_index],'%')
#        cursor.execute('[dbo].[SP_ANNUALGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(n)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter= -1,@Value='+str(df1.iloc[i][year_index])+', @Is_Q2Q=0')
#        n+=1


print('GDP absolute value')
for year in range(2018, 2021):
    n=1
    for i in range(4, 9):
        print(year, df1['Unnamed: 13'][i], df1[year][i])
        cursor.execute('[dbo].[SP_ANNUALGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(n)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter= -1,@Value_RM_billions='+str(df1[year][i])+', @Is_percentage = 0, @Is_Q2Q=0')
        n+=1
    cursor.execute('[dbo].[SP_ANNUALGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(n)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter= -1,@Value_RM_billions='+str(df1[year][3])+', @Is_percentage = 0, @Is_Q2Q=0')


print('GDP growth')
for year in range(2018, 2021):
    n=1
    for i in range(28, 33):
        print(year, df1['Unnamed: 13'][i], df1[year][i])
        cursor.execute('[dbo].[SP_ANNUALGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(n)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter= -1,@Value_RM_billions='+str(df1[year][i])+', @Is_percentage = 1, @Is_Q2Q=0')
        n+=1
    cursor.execute('[dbo].[SP_ANNUALGDP_I_220117] @Indicator_ID = 1 , @Sector_ID = '+str(n)+', @Country_ID= 1 ,@Year='+str(year)+',@Quarter= -1,@Value_RM_billions='+str(df1[year][27])+', @Is_percentage = 1, @Is_Q2Q=0')
    print(year, "Total", df1[year][27])






cnxn.commit()
cursor.close()

GDP absolute value
2018 Agriculture 99.6
2018 Mining and quarrying 103.6
2018 Manufacturing 304.8
2018 Construction 66.2
2018 Services
 773.0
2019 Agriculture 101.6
2019 Mining and quarrying 102.9
2019 Manufacturing 316.3
2019 Construction 66.5
2019 Services
 820.9
2020 Agriculture 99.4
2020 Mining and quarrying 92.0
2020 Manufacturing 307.9
2020 Construction 53.6
2020 Services
 775.7
GDP growth
2018 Agriculture 0.1
2018 Mining and quarrying -2.2
2018 Manufacturing 5.0
2018 Construction 4.2
2018 Services 6.9
2018 Total 4.8
2019 Agriculture 2.0
2019 Mining and quarrying -0.6
2019 Manufacturing 3.8
2019 Construction 0.4
2019 Services 6.2
2019 Total 4.4
2020 Agriculture -2.2
2020 Mining and quarrying -10.6
2020 Manufacturing -2.6
2020 Construction -19.4
2020 Services -5.5
2020 Total -5.6

In [50]:
"""
for year in years:
    print('\033[1m','Year:', year,'\033[0m')
    year_index = df1.columns.get_loc(df1.iloc[2][df1.iloc[2] == year].index[-1])
    n = 1
    for i in range(31,36):
        #print(n)
        print(n, df1.iloc[i].dropna()[-1], df1.iloc[i][year_index],'%', year)
        n +=1
"""

"\nfor year in years:\n    print('\x1b[1m','Year:', year,'\x1b[0m')\n    year_index = df1.columns.get_loc(df1.iloc[2][df1.iloc[2] == year].index[-1])\n    n = 1\n    for i in range(31,36):\n        #print(n)\n        print(n, df1.iloc[i].dropna()[-1], df1.iloc[i][year_index],'%', year)\n        n +=1\n"

In [51]:
#for index, row in df_gdp.iterrows():
 #   print(index, list(islice(cycle(range(1,6)), len(df_gdp)))[index])
    #print(index)

In [57]:
#today.strftime('%Y/%m/%d')

In [58]:
#datetime.fromtimestamp(os.path.getctime("Annual GDP 2015-2020 Tables.xlsx"))