In [3]:
import pandas as pd

In [4]:
df = pd.ExcelFile('15tab1Msia_Dis21.xlsx')

In [3]:
df

In [4]:
df.sheet_names

['J1_J4',
 'J5A',
 'J5B',
 'J5C',
 'J5D',
 'J6',
 'J7',
 'J8_J9',
 'J10',
 'J11',
 'J12_J13',
 'J14',
 'J15',
 'J16_J17',
 'J18',
 'J19',
 '4d_J20']

In [5]:
#df2 = df.parse(2)
#df2.head(20)

In [6]:
#df2.tail(30)

In [7]:
#df2.iloc[:,0].dropna()

In [8]:
#pd.to_numeric(df2.iloc[:,0], errors = 'coerce').dropna().astype(int)

In [9]:
#df2.iloc[:,1].dropna()

In [10]:
#df2.iloc[[38]]

In [11]:
#for i, j in df2.iloc[[38]].iterrows():
 #   print(i, j)

In [12]:
df.sheet_names[0]

'J1_J4'

In [13]:
#df.parse('J1_J4').head(40)

In [5]:
df1 = df.parse(0)
df1.head(20)

,"Jadual 1 - Indeks Harga Pengguna (2010=100), Nombor Indeks Kumpulan Utama dan Perubahan Peratus, Malaysia",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,"Jadual 3 - Indeks Harga Pengguna (2010=100), Nombor Indeks Kumpulan Utama dan Perubahan Peratus, Malaysia",Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,"Table 1 - Consumer Price Index (2010=100), Ind...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Table 3 - Consumer Price Index (2010=100), Ind...",NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,I. Nombor Indeks:,DIS,NOV,DIS,NaN,NaN,NaN,NaN,NaN,I. Nombor Purata Indeks Kumpulan Utama bagi Te...,NaN,NaN,JAN - DIS 2021 ; JAN - DIS 2020,NaN,NaN
3,NaN,Index Numbers:,2020,2021,2021,NaN,NaN,NaN,NaN,NaN,Average Index Numbers for Main Group for the P...,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,II. Perubahan Peratus: ...,DIS,NOV,DIS -,DIS,NaN,NaN,NaN,NaN,II. Perubahan Peratus Nombor Purata Indeks di ...,NaN,NaN,JAN - DIS 2021 ; JAN - DIS 2020,NaN,NaN
6,NaN,Percentage Change: ...,2021,2021,2021,2020,NaN,NaN,NaN,NaN,Percentage Change for the Average Index Number...,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,Nombor Indeks,NaN,NaN,Perubahan Peratus,NaN,NaN,NaN,NaN,NaN,Nombor Indeks,NaN,Perubahan Peratus,NaN,NaN
10,NaN,Kumpulan,Index Numbers,NaN,NaN,Percentage Change,NaN,NaN,Groups,NaN,Kumpulan,Index Numbers,NaN,NaN,NaN,Groups
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Percentage Change,NaN,NaN
13,NaN,NaN,DIS,NOV,DIS,DIS 2021 /,DIS 2021 /,NaN,NaN,NaN,NaN,JAN - DIS,JAN - DIS,NaN,NaN,NaN
14,NaN,NaN,2020,2021,2021,NOV 2021,DIS 2020,NaN,NaN,NaN,NaN,2020,2021,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,*,Jumlah,120.6,124,124.5,0.403226,3.233831,*,Total,*,Jumlah,120.1,123.1,2.497918,*,Total
18,01,Makanan & Minuman Bukan Alkohol,135.8,138.7,140.1,1.009373,3.166421,01,Food & Non-Alcoholic Beverages,01,Makanan & Minuman Bukan Alkohol,134.8,137.1,1.706231,01,Food & Non-Alcoholic Beverages
19,02,Minuman Alkohol & Tembakau,168.8,169.3,169.3,0,0.296209,02,Alcoholic Beverages & Tobacco,02,Minuman Alkohol & Tembakau,168.3,169.2,0.534759,02,Alcoholic Beverages & Tobacco

In [6]:
latest_year = pd.to_numeric(df.parse(0).iloc[3], errors = 'coerce').dropna().astype(int)[-1]
latest_year

2021

In [7]:
pd.to_numeric(df.parse(0).iloc[2], errors = 'coerce').dropna()#.astype(int)

Series([], Name: 2, dtype: float64)

In [8]:
df.parse(0).iloc[2].dropna()

Unnamed: 1                     I. Nombor Indeks:
Unnamed: 2                                                   DIS
Unnamed: 3                                                   NOV
Unnamed: 4                                                   DIS
Unnamed: 10    I. Nombor Purata Indeks Kumpulan Utama bagi Te...
Unnamed: 13                      JAN - DIS 2021 ; JAN - DIS 2020
Name: 2, dtype: object

In [9]:
df2 = df.parse('J5B', header =5)
df2.head(50)

,Unnamed: 0,Unnamed: 1,Jumlah Total,Kumpulan Group 01,Kumpulan Group 02,Kumpulan Group 03,Kumpulan Group 04,Kumpulan Group 05,Kumpulan Group 06,Kumpulan Group 07,Kumpulan Group 08,Kumpulan Group 09,Kumpulan Group 10,Kumpulan Group 11,Kumpulan Group 12,IHP Tanpa Bahan Api CPI without Fuel
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wajaran: Weight:,NaN,100.0,29.5,2.4,3.2,23.8,4.1,1.9,14.6,4.8,4.8,1.3,2.9,6.7,-
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017,NaN,3.7,4,0.2,-0.3,2.2,2.1,2.5,13.2,-0.4,1.9,1.7,2.5,1.2,-
6,2018,NaN,1.0,1.6,-0.1,-2.0,2.0,0.3,0.8,1.6,-1.7,-0.4,1.1,1.6,-1.4,-
7,2019,NaN,0.7,1.7,1.5,-2.0,1.9,1.4,0.7,-3.1,0.4,0.7,1.4,1.2,0.4,-
8,2020,NaN,-1.2,1.3,0.3,-0.8,-1.7,0.3,1.1,-10.0,1.1,0.4,1.0,0.5,2.7,0.3
9,2021,NaN,2.5,1.7,0.5,-0.4,1.5,1.6,0.4,11.0,0.0,0.4,0.2,0.4,0.5,1.2
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2020,JAN,1.6,0.9,0.1,-1.2,1.7,1.2,1.4,3.9,1.5,0.9,1.7,1.1,2.5,1.3
12,NaN,FEB,1.3,0.8,0.2,-1.1,1.6,1.0,1.3,2.4,1.5,0.7,1.3,1.1,2.5,1.1
13,NaN,MAC,-0.2,1.2,0.3,-1.3,1.6,0.8,1.4,-8.9,1.5,0.7,1.3,0.9,2.6,1.3
14,NaN,APR,-2.9,1.2,0.2,-1.2,-2.2,0.3,1.2,-21.5,1.6,0.6,1.2,0.7,2.3,0.2
15,NaN,MEI,-2.9,1.2,0.2,-1.1,-2.6,-0.2,1.2,-20.8,1.6,0.7,1.0,0.9,2.8,0.1
16,NaN,JUN,-1.9,1.6,0.2,-1.1,-2.6,-0.2,1.1,-14.3,1.6,0.6,0.8,0.3,3.0,0.2
17,NaN,JUL,-1.3,1.4,0.3,-0.6,-2.6,-0.1,1.1,-10.3,1.6,0.7,1.2,0.2,2.9,0.2
18,NaN,OGO,-1.4,1.3,0.3,-0.6,-3.0,-0.1,1.1,-9.9,1.6,0.6,1.1,0.1,3.1,0.2
19,NaN,SEP,-1.4,1.4,0.5,-0.6,-3.0,0.1,1.1,-9.9,1.6,0.1,0.7,0.1,2.7,0.1
20,NaN,OKT,-1.5,1.5,0.5,-0.4,-3.0,0.1,1.1,-10.2,0.0,0.2,0.7,0.1,2.8,0.1
21,NaN,NOV,-1.7,1.4,0.5,-0.5,-3.3,-0.1,1,-11.1,0.0,0.1,0.6,0.0,2.3,-0.1
22,NaN,DIS,-1.4,1.4,0.6,-0.4,-3.3,-0.1,1,-8.4,0.0,0.2,0.6,-0.2,2.2,-0.1
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2021,JAN,-0.2,1.5,0.7,-0.4,-0.7,0.2,0.7,-5.1,0.0,0.1,0.2,-0.1,1.8,0.5
25,NaN,FEB,0.1,1.4,0.7,-0.4,-0.8,0.3,0.7,-2.0,0.0,0.1,0.1,-0.3,1.6,0.4
26,NaN,MAC,1.7,1.5,0.6,-0.3,-0.8,0.9,0.5,9.8,0.0,0.5,0.0,0.0,1.0,0.5
27,NaN,APR,4.7,1.9,0.7,-0.4,3.1,1.6,0.5,27.0,0.0,0.7,0.2,0.2,1.2,1.7
28,NaN,MEI,4.4,1.5,0.7,-0.5,3.2,2.1,0.6,26.0,0.0,0.6,0.3,0.2,0.7,1.607143
29,NaN,JUN,3.4,1.3,0.7,-0.4,3.2,2.0,0.5,16.6,0.0,0.6,0.5,0.5,0.3,1.5
30,NaN,JUL,2.2,1.3,0.5,-0.4,0.7,1.7,0.4,11.6,0.0,0.6,0.1,0.7,0.1,0.8
31,NaN,OGO,2.0,1.2,0.4,-0.4,0.6,1.7,0.3,11.0,0.0,0.7,0.0,0.6,-0.6,0.5
32,NaN,SEP,2.2,1.9,0.4,-0.5,0.7,1.7,0.3,11.0,0.0,0.6,-0.1,0.3,-0.5,0.8
33,NaN,OKT,2.9,1.9,0.3,-0.4,3.2,2.1,0.2,11.3,0.0,0.2,-0.1,0.6,-0.2,1.5
34,NaN,NOV,3.3,2.7,0.3,-0.4,3.4,2.6,0.2,12.7,0.0,0.2,0.1,0.9,0.1,1.8
35,NaN,DIS,3.2,3.2,0.3,-0.4,3.4,2.7,0.2,9.5,0.0,0.4,0.2,1.3,0.4,2
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Nota / Notes :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Kumpulan / Group 01 ...,NaN,NaN,Makanan & Minuman Bukan Alkohol / Food & Non-A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Kumpulan / Group 02 ...,NaN,NaN,Minuman Alkohol & Tembakau / Alcoholic Beverag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Kumpulan / Group 03 ...,NaN,NaN,Pakaian & Kasut / Clothing & Footwear,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Kumpulan / Group 04,NaN,NaN,"Perumahan, Air, Elektrik, Gas & Bahan Api Lain...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Kumpulan / Group 05,NaN,NaN,"Hiasan, Perkakasan & Penyelenggaraan Isi Rumah...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Kumpulan / Group 06 ...,NaN,NaN,Kesihatan / Health,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Kumpulan / Group 07 ...,NaN,NaN,Pengangkutan / Transport,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,Kumpulan / Group 08 ...,NaN,NaN,Komunikasi / Communication,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,Kumpulan / Group 09 ...,NaN,NaN,Perkhidmatan Rekreasi & Kebudayaan / Recreatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Kumpulan / Group 10 ...,NaN,NaN,Pendidikan / Education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df2.iloc[24][2]

-0.2

In [11]:
print(df2.iloc[24][0])

for i in range(24, 36):
    print(df2.iloc[i][1])
    for j in range(3, 15):
        print(df2.iloc[i][j])

2021
JAN
1.5
0.7
-0.4
-0.7
0.2
0.7
-5.1
0.0
0.1
0.2
-0.1
1.8
FEB
1.4
0.7
-0.4
-0.8
0.3
0.7
-2.0
0.0
0.1
0.1
-0.3
1.6
MAC
1.5
0.6
-0.3
-0.8
0.9
0.5
9.8
0.0
0.5
0.0
0.0
1.0
APR
1.9
0.7
-0.4
3.1
1.6
0.5
27.0
0.0
0.7
0.2
0.2
1.2
MEI
1.5
0.7
-0.5
3.2
2.1
0.6
26.0
0.0
0.6
0.3
0.2
0.7
JUN
1.3
0.7
-0.4
3.2
2.0
0.5
16.6
0.0
0.6
0.5
0.5
0.3
JUL
1.3
0.5
-0.4
0.7
1.7
0.4
11.6
0.0
0.6
0.1
0.7
0.1
OGO
1.2
0.4
-0.4
0.6
1.7
0.3
11.0
0.0
0.7
0.0
0.6
-0.6
SEP
1.9
0.4
-0.5
0.7
1.7
0.3
11.0
0.0
0.6
-0.1
0.3
-0.5
OKT
1.9
0.3
-0.4
3.2
2.1
0.2
11.3
0.0
0.2
-0.1
0.6
-0.2
NOV
2.7
0.3
-0.4
3.4
2.6
0.2
12.7
0.0
0.2
0.1
0.9
0.1
DIS
3.2
0.3
-0.4
3.4
2.7
0.2
9.5
0.0
0.4
0.2
1.3
0.4

In [12]:
print(df2.iloc[11][0])

for i in range(11, 23):
    print(df2.iloc[i][1])
    items_id = 1
    for j in range(3, 15):
        print(df2.iloc[i][j], items_id)
        items_id +=1

2020
JAN
0.9 1
0.1 2
-1.2 3
1.7 4
1.2 5
1.4 6
3.9 7
1.5 8
0.9 9
1.7 10
1.1 11
2.5 12
FEB
0.8 1
0.2 2
-1.1 3
1.6 4
1.0 5
1.3 6
2.4 7
1.5 8
0.7 9
1.3 10
1.1 11
2.5 12
MAC
1.2 1
0.3 2
-1.3 3
1.6 4
0.8 5
1.4 6
-8.9 7
1.5 8
0.7 9
1.3 10
0.9 11
2.6 12
APR
1.2 1
0.2 2
-1.2 3
-2.2 4
0.3 5
1.2 6
-21.5 7
1.6 8
0.6 9
1.2 10
0.7 11
2.3 12
MEI
1.2 1
0.2 2
-1.1 3
-2.6 4
-0.2 5
1.2 6
-20.8 7
1.6 8
0.7 9
1.0 10
0.9 11
2.8 12
JUN
1.6 1
0.2 2
-1.1 3
-2.6 4
-0.2 5
1.1 6
-14.3 7
1.6 8
0.6 9
0.8 10
0.3 11
3.0 12
JUL
1.4 1
0.3 2
-0.6 3
-2.6 4
-0.1 5
1.1 6
-10.3 7
1.6 8
0.7 9
1.2 10
0.2 11
2.9 12
OGO
1.3 1
0.3 2
-0.6 3
-3.0 4
-0.1 5
1.1 6
-9.9 7
1.6 8
0.6 9
1.1 10
0.1 11
3.1 12
SEP
1.4 1
0.5 2
-0.6 3
-3.0 4
0.1 5
1.1 6
-9.9 7
1.6 8
0.1 9
0.7 10
0.1 11
2.7 12
OKT
1.5 1
0.5 2
-0.4 3
-3.0 4
0.1 5
1.1 6
-10.2 7
0.0 8
0.2 9
0.7 10
0.1 11
2.8 12
NOV
1.4 1
0.5 2
-0.5 3
-3.3 4
-0.1 5
1 6
-11.1 7
0.0 8
0.1 9
0.6 10
0.0 11
2.3 12
DIS
1.4 1
0.6 2
-0.4 3
-3.3 4
-0.1 5
1 6
-8.4 7
0.0 8
0.2 9
0.6 10
-0.2 11
2.2 12

In [13]:
df3 = df.parse('J5C', header =5)
df3.head(40)

,Unnamed: 0,Unnamed: 1,Jumlah Total,Kumpulan Group 01,Kumpulan Group 02,Kumpulan Group 03,Kumpulan Group 04,Kumpulan Group 05,Kumpulan Group 06,Kumpulan Group 07,Kumpulan Group 08,Kumpulan Group 09,Kumpulan Group 10,Kumpulan Group 11,Kumpulan Group 12,IHP Tanpa Bahan Api CPI without Fuel
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wajaran: Weight:,NaN,100.0,29.5,2.4,3.2,23.8,4.1,1.9,14.6,4.8,4.8,1.3,2.9,6.7,-
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2020,JAN,0.1,0.1,-0.1,-0.1,0.0,0.0,0.2,0.1,0.0,0.2,0.4,0.1,0.4,0.1
6,NaN,FEB,0.0,0.1,0.1,0.0,0.3,0.1,0.1,-1.0,0.0,0.0,0.1,0.2,-0.1,0.1
7,NaN,MAC,-1.2,-0.1,0.1,-0.1,0.0,0.0,0.3,-8.7,0.0,-0.1,0.0,-0.2,0.4,0
8,NaN,APR,-2.7,-0.1,0.0,0.0,-3.8,-0.4,0,-13.5,0.0,0.0,-0.1,0.0,-0.2,-1.1
9,NaN,MEI,0.3,0.3,0.1,0.0,-0.1,-0.2,0,1.0,0.0,0.0,-0.1,0.1,0.5,0.1
10,NaN,JUN,1.0,0.4,0.1,-0.1,0.0,0.1,0.1,7.8,0.0,0.0,-0.2,-0.4,0.4,0.2
11,NaN,JUL,0.7,0.1,0.1,0.0,0.0,0.3,0.1,4.9,0.0,0.0,0.4,-0.1,0.3,0.1
12,NaN,OGO,0.2,0.1,0.1,0.0,0.2,0.0,0.1,0.4,0.0,-0.1,0.0,0.1,0.7,0.3
13,NaN,SEP,0.0,-0.1,0.1,0.0,0.0,0.1,0,0.0,0.0,0.1,0.1,0.2,0.0,-0.1
14,NaN,OKT,0.1,0.1,0.0,-0.1,0.0,0.0,0.1,-0.1,0.0,0.1,0.0,0.0,-0.1,0.1
15,NaN,NOV,-0.2,-0.1,0.1,0.0,0.1,-0.1,0,-1.0,0.0,0.0,-0.1,0.0,-0.1,0
16,NaN,DIS,0.5,0.5,0.0,0.0,0.0,0.1,0,3.0,0.0,0.0,0.0,0.0,-0.2,0.2
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2021,JAN,1.2,0.2,0.1,-0.1,2.6,0.3,0,3.7,0.0,0.1,0.0,0.2,0.1,0.7
19,NaN,FEB,0.3,0,0.0,0.0,0.2,0.2,0.1,2.3,0.0,0.0,0.0,-0.1,-0.3,0
20,NaN,MAC,0.3,0,0.1,0.0,0.0,0.6,0.1,2.3,0.0,0.4,-0.1,0.1,-0.2,0.1
21,NaN,APR,0.2,0.3,0.1,-0.1,0.1,0.3,0,0.1,0.0,0.2,0.2,0.2,0.1,0.2
22,NaN,MEI,0.0,-0.1,0.1,-0.1,0.0,0.3,0.1,0.2,0.0,-0.1,0.0,0.1,0.0,0
23,NaN,JUN,0.1,0.3,0.1,0.0,0.0,0.0,0,-0.2,0.0,0.0,0.0,0.0,0.1,0.1
24,NaN,JUL,-0.6,0,-0.1,0.0,-2.5,0.0,0,0.3,0.0,0.0,0.0,0.1,0.0,-0.6
25,NaN,OGO,0.0,0.1,0.0,0.0,0.1,0.0,0,-0.1,0.0,0.0,-0.1,0.0,0.0,0
26,NaN,SEP,0.2,0.6,0.1,-0.1,0.1,0.1,0,0.0,0.0,0.0,0.0,-0.2,0.1,0.2
27,NaN,OKT,0.7,0.2,-0.1,0.0,2.5,0.4,0,0.2,0.0,-0.4,0.0,0.3,0.3,0.8
28,NaN,NOV,0.2,0.6,0.1,0.0,0.2,0.3,0,0.3,0.0,0.0,0.1,0.3,0.2,0.3
29,NaN,DIS,0.4,1,0.0,0.0,0.0,0.3,0,0.1,0.0,0.3,0.1,0.4,0.2,0.4
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Nota / Notes :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Kumpulan / Group 01 ...,NaN,NaN,Makanan & Minuman Bukan Alkohol / Food & Non-A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Kumpulan / Group 02 ...,NaN,NaN,Minuman Alkohol & Tembakau / Alcoholic Beverag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Kumpulan / Group 03 ...,NaN,NaN,Pakaian & Kasut / Clothing & Footwear,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Kumpulan / Group 04,NaN,NaN,"Perumahan, Air, Elektrik, Gas & Bahan Api Lain...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Kumpulan / Group 05,NaN,NaN,"Hiasan, Perkakasan & Penyelenggaraan Isi Rumah...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Kumpulan / Group 06 ...,NaN,NaN,Kesihatan / Health,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
print(df3.iloc[5][0])

for i in range(5, 17):
    print(df3.iloc[i][1])
    items_id = 1
    for j in range(3, 15):
        print(df3.iloc[i][j], items_id)
        items_id +=1

2020
JAN
0.1 1
-0.1 2
-0.1 3
0.0 4
0.0 5
0.2 6
0.1 7
0.0 8
0.2 9
0.4 10
0.1 11
0.4 12
FEB
0.1 1
0.1 2
0.0 3
0.3 4
0.1 5
0.1 6
-1.0 7
0.0 8
0.0 9
0.1 10
0.2 11
-0.1 12
MAC
-0.1 1
0.1 2
-0.1 3
0.0 4
0.0 5
0.3 6
-8.7 7
0.0 8
-0.1 9
0.0 10
-0.2 11
0.4 12
APR
-0.1 1
0.0 2
0.0 3
-3.8 4
-0.4 5
0 6
-13.5 7
0.0 8
0.0 9
-0.1 10
0.0 11
-0.2 12
MEI
0.3 1
0.1 2
0.0 3
-0.1 4
-0.2 5
0 6
1.0 7
0.0 8
0.0 9
-0.1 10
0.1 11
0.5 12
JUN
0.4 1
0.1 2
-0.1 3
0.0 4
0.1 5
0.1 6
7.8 7
0.0 8
0.0 9
-0.2 10
-0.4 11
0.4 12
JUL
0.1 1
0.1 2
0.0 3
0.0 4
0.3 5
0.1 6
4.9 7
0.0 8
0.0 9
0.4 10
-0.1 11
0.3 12
OGO
0.1 1
0.1 2
0.0 3
0.2 4
0.0 5
0.1 6
0.4 7
0.0 8
-0.1 9
0.0 10
0.1 11
0.7 12
SEP
-0.1 1
0.1 2
0.0 3
0.0 4
0.1 5
0 6
0.0 7
0.0 8
0.1 9
0.1 10
0.2 11
0.0 12
OKT
0.1 1
0.0 2
-0.1 3
0.0 4
0.0 5
0.1 6
-0.1 7
0.0 8
0.1 9
0.0 10
0.0 11
-0.1 12
NOV
-0.1 1
0.1 2
0.0 3
0.1 4
-0.1 5
0 6
-1.0 7
0.0 8
0.0 9
-0.1 10
0.0 11
-0.1 12
DIS
0.5 1
0.0 2
0.0 3
0.0 4
0.1 5
0 6
3.0 7
0.0 8
0.0 9
0.0 10
0.0 11
-0.2 12

In [15]:
print(df3.iloc[18][0])

for i in range(18, 30):
    print(df3.iloc[i][1])
    items_id = 1
    for j in range(3, 15):
        print(df3.iloc[i][j], items_id)
        items_id +=1

2021
JAN
0.2 1
0.1 2
-0.1 3
2.6 4
0.3 5
0 6
3.7 7
0.0 8
0.1 9
0.0 10
0.2 11
0.1 12
FEB
0 1
0.0 2
0.0 3
0.2 4
0.2 5
0.1 6
2.3 7
0.0 8
0.0 9
0.0 10
-0.1 11
-0.3 12
MAC
0 1
0.1 2
0.0 3
0.0 4
0.6 5
0.1 6
2.3 7
0.0 8
0.4 9
-0.1 10
0.1 11
-0.2 12
APR
0.3 1
0.1 2
-0.1 3
0.1 4
0.3 5
0 6
0.1 7
0.0 8
0.2 9
0.2 10
0.2 11
0.1 12
MEI
-0.1 1
0.1 2
-0.1 3
0.0 4
0.3 5
0.1 6
0.2 7
0.0 8
-0.1 9
0.0 10
0.1 11
0.0 12
JUN
0.3 1
0.1 2
0.0 3
0.0 4
0.0 5
0 6
-0.2 7
0.0 8
0.0 9
0.0 10
0.0 11
0.1 12
JUL
0 1
-0.1 2
0.0 3
-2.5 4
0.0 5
0 6
0.3 7
0.0 8
0.0 9
0.0 10
0.1 11
0.0 12
OGO
0.1 1
0.0 2
0.0 3
0.1 4
0.0 5
0 6
-0.1 7
0.0 8
0.0 9
-0.1 10
0.0 11
0.0 12
SEP
0.6 1
0.1 2
-0.1 3
0.1 4
0.1 5
0 6
0.0 7
0.0 8
0.0 9
0.0 10
-0.2 11
0.1 12
OKT
0.2 1
-0.1 2
0.0 3
2.5 4
0.4 5
0 6
0.2 7
0.0 8
-0.4 9
0.0 10
0.3 11
0.3 12
NOV
0.6 1
0.1 2
0.0 3
0.2 4
0.3 5
0 6
0.3 7
0.0 8
0.0 9
0.1 10
0.3 11
0.2 12
DIS
1 1
0.0 2
0.0 3
0.0 4
0.3 5
0 6
0.1 7
0.0 8
0.3 9
0.1 10
0.4 11
0.2 12

In [25]:
#df1.tail(40)

In [26]:
#df1.iloc[18,6]

In [27]:
#df1.iloc[18,8]

In [28]:
#df1.iloc[62,8]

In [29]:
#df1.iloc[62,6]

In [30]:
#print(df1.iloc[18,8],df1.iloc[18,6])

In [31]:
#print('\033[1m', 'hi')

In [25]:
df1.iloc[17,8]

'Total'

In [17]:
print('\033[1m','Annual CPI changes of items: ', '\033[0m')
cpi_annual = []
for i in range(18, 30):
    print(df1.iloc[i,8],df1.iloc[i,6],'%')
    cpi_annual.append([df1.iloc[i,8],df1.iloc[i,6]])

for i in range(61,74):
    print(df1.iloc[i,8],df1.iloc[i,6],'%')
    cpi_annual.append([df1.iloc[i,8],df1.iloc[i,6]])

 Annual CPI changes of items:
Food & Non-Alcoholic Beverages 3.1664212076583085 %
Alcoholic Beverages & Tobacco 0.2962085308056872 %
Clothing & Footwear -0.4282655246252738 %
Housing, Water, Electricity, Gas & Other Fuels 3.3840947546531304 %
Furnishings, Household Equipment & Routine Household Maintenance 2.739726027397263 %
Health 0.2411575562700942 %
Transport 9.505703422053232 %
Communication 0 %
Recreation Services & Culture 0.4448398576512455 %
Education 0.16528925619834947 %
Restaurants & Hotels 1.284958427815562 %
Miscellaneous Goods & Services 0.42844901456726653 %
Food 3.3625730994152003 %
Food At Home 4.147812971342383 %
011 Rice, Bread & Other Cereals 1.341681574239714 %
012 Meat 8.31353919239906 %
013 Fish & Seafood 4.188144329896907 %
014 Milk, Cheese & Eggs 5.537720706260036 %
015 Oils & Fats 4.409317803660564 %
016 Fruits 1.772525849335307 %
017 Vegetables 4.999999999999992 %
018 Sugar, Jam, Honey, Chocolate & Confectionery 0.7457121551081283 %
019 Food Products N.E.C 2.783882783882792 %
Food Away From Home 2.1602787456445953 %
Coffee, Tea, Cocoa & Non-Alcoholic Beverages 0.5314437555358674 %

In [18]:
print('\033[1m','Monthly CPI changes of items: ', '\033[0m')
cpi_monthly = []
for i in range(18, 30):
    print(df1.iloc[i,8],df1.iloc[i,5],'%')
    cpi_monthly.append([df1.iloc[i,8],df1.iloc[i,5]])

for i in range(61,74):
    print(df1.iloc[i,8],df1.iloc[i,5],'%')
    cpi_monthly.append([df1.iloc[i,8],df1.iloc[i,5]])

 Monthly CPI changes of items:
Food & Non-Alcoholic Beverages 1.009372746935837 %
Alcoholic Beverages & Tobacco 0 %
Clothing & Footwear 0 %
Housing, Water, Electricity, Gas & Other Fuels 0 %
Furnishings, Household Equipment & Routine Household Maintenance 0.2506265664160377 %
Health 0 %
Transport 0.08688097306690576 %
Communication 0 %
Recreation Services & Culture 0.266429840142106 %
Education 0.08257638315442488 %
Restaurants & Hotels 0.37453183520599254 %
Miscellaneous Goods & Services 0.17094017094017336 %
Food 1.072194424588992 %
Food At Home 1.3206162876008678 %
011 Rice, Bread & Other Cereals 0.6216696269982264 %
012 Meat 0.29325513196481356 %
013 Fish & Seafood 1.2523481527864748 %
014 Milk, Cheese & Eggs 1.937984496124031 %
015 Oils & Fats 0.48038430744595223 %
016 Fruits 0.8046817849305214 %
017 Vegetables 4.419889502762415 %
018 Sugar, Jam, Honey, Chocolate & Confectionery 0.07407407407406986 %
019 Food Products N.E.C 0.3576537911301859 %
Food Away From Home 0.6177076183939642 %
Coffee, Tea, Cocoa & Non-Alcoholic Beverages 0.1765225066195965 %

In [19]:
#for i in range(62,74):
#    print(df1.iloc[i,8],df1.iloc[i,6])

In [20]:
df_cpi_annual = pd.DataFrame(cpi_annual, columns=['Items', 'Changes'])

In [21]:
df_cpi_annual

                                                Items   Changes
0                      Food & Non-Alcoholic Beverages  3.166421
1                       Alcoholic Beverages & Tobacco  0.296209
2                                 Clothing & Footwear -0.428266
3      Housing, Water, Electricity, Gas & Other Fuels  3.384095
4   Furnishings, Household Equipment & Routine Hou...  2.739726
5                                              Health  0.241158
6                                           Transport  9.505703
7                                       Communication  0.000000
8                       Recreation Services & Culture  0.444840
9                                           Education  0.165289
10                               Restaurants & Hotels  1.284958
11                     Miscellaneous Goods & Services  0.428449
12                                               Food  3.362573
13                                       Food At Home  4.147813
14                    011 Rice, Bread & Other Cereals  1.341682
15                                           012 Meat  8.313539
16                                 013 Fish & Seafood  4.188144
17                            014 Milk, Cheese & Eggs  5.537721
18                                    015 Oils & Fats  4.409318
19                                         016 Fruits  1.772526
20                                     017 Vegetables  5.000000
21   018 Sugar, Jam, Honey, Chocolate & Confectionery  0.745712
22                            019 Food Products N.E.C  2.783883
23                                Food Away From Home  2.160279
24       Coffee, Tea, Cocoa & Non-Alcoholic Beverages  0.531444

In [22]:
df_cpi_monthly = pd.DataFrame(cpi_monthly, columns=['Items', 'Changes'])

In [23]:
df_cpi_monthly

                                                Items   Changes
0                      Food & Non-Alcoholic Beverages  1.009373
1                       Alcoholic Beverages & Tobacco  0.000000
2                                 Clothing & Footwear  0.000000
3      Housing, Water, Electricity, Gas & Other Fuels  0.000000
4   Furnishings, Household Equipment & Routine Hou...  0.250627
5                                              Health  0.000000
6                                           Transport  0.086881
7                                       Communication  0.000000
8                       Recreation Services & Culture  0.266430
9                                           Education  0.082576
10                               Restaurants & Hotels  0.374532
11                     Miscellaneous Goods & Services  0.170940
12                                               Food  1.072194
13                                       Food At Home  1.320616
14                    011 Rice, Bread & Other Cereals  0.621670
15                                           012 Meat  0.293255
16                                 013 Fish & Seafood  1.252348
17                            014 Milk, Cheese & Eggs  1.937984
18                                    015 Oils & Fats  0.480384
19                                         016 Fruits  0.804682
20                                     017 Vegetables  4.419890
21   018 Sugar, Jam, Honey, Chocolate & Confectionery  0.074074
22                            019 Food Products N.E.C  0.357654
23                                Food Away From Home  0.617708
24       Coffee, Tea, Cocoa & Non-Alcoholic Beverages  0.176523

In [39]:
#len(df_cpi.iloc[4,0])

In [28]:
for i in range(18, 30):
    print(df1.iloc[i,8])

print(df1.iloc[17, 8])

Food & Non-Alcoholic Beverages
Alcoholic Beverages & Tobacco
Clothing & Footwear
Housing, Water, Electricity, Gas & Other Fuels
Furnishings, Household Equipment & Routine Household Maintenance
Health
Transport
Communication
Recreation Services & Culture
Education
Restaurants & Hotels
Miscellaneous Goods & Services
Total

In [31]:
"""
## THis command is to fill up CPI items ID

import pyodbc

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:

for i in range(18, 30):
    cursor.execute("INSERT INTO Economy.CPI_ID (CPI_items) values(?)", df1.iloc[i,8])

    #print(df1.iloc[i,8])
    
cursor.execute("INSERT INTO Economy.CPI_ID (CPI_items) values(?)", df1.iloc[17,8])

#print(df1.iloc[17, 8])

#for index, row in df_cpi_annual.iterrows():
#     cursor.execute("INSERT INTO Economy.CPI_ID (CPI_items) values(?)", row.Items)
cnxn.commit()
cursor.close()

"""

'\n## THis command is to fill up CPI items ID\n\nimport pyodbc\n\nserver = \'DESKTOP-U753JSI\' \ndatabase = \'Economic\' \ncnxn = pyodbc.connect(\'DRIVER={SQL Server};SERVER=\'+server+\';DATABASE=\'+database+\';Trusted_Connection = yes\')\ncursor = cnxn.cursor()\n# Insert Dataframe into SQL Server:\n\nfor i in range(18, 30):\n    cursor.execute("INSERT INTO Economy.CPI_ID (CPI_items) values(?)", df1.iloc[i,8])\n\n    #print(df1.iloc[i,8])\n    \ncursor.execute("INSERT INTO Economy.CPI_ID (CPI_items) values(?)", df1.iloc[17,8])\n\n#print(df1.iloc[17, 8])\n\n#for index, row in df_cpi_annual.iterrows():\n#     cursor.execute("INSERT INTO Economy.CPI_ID (CPI_items) values(?)", row.Items)\ncnxn.commit()\ncursor.close()\n\n'

In [41]:
"""
import pyodbc, os
from datetime import date, datetime

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_gdp.iterrows():
   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
    #                index+1, row.AnnualGrowthRate)

for index, row in df_cpi.iterrows():
    cursor.execute("INSERT INTO Economy.CPI (Indicator_ID, Items_ID,Country_ID, Year, Changes_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?)",
                    3, index+1,1, int(latest_year),row.Changes, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)
cnxn.commit()
cursor.close()

"""

'\nimport pyodbc, os\nfrom datetime import date, datetime\n\nserver = \'DESKTOP-U753JSI\' \ndatabase = \'Economic\' \ncnxn = pyodbc.connect(\'DRIVER={SQL Server};SERVER=\'+server+\';DATABASE=\'+database+\';Trusted_Connection = yes\')\ncursor = cnxn.cursor()\n# Insert Dataframe into SQL Server:\n#for index, row in df_gdp.iterrows():\n   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",\n    #                index+1, row.AnnualGrowthRate)\n\nfor index, row in df_cpi.iterrows():\n    cursor.execute("INSERT INTO Economy.CPI (Indicator_ID, Items_ID,Country_ID, Year, Changes_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?)",\n                    3, index+1,1, int(latest_year),row.Changes, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1,1,0)\ncnxn.commit()\ncursor.close()\n\n'

In [42]:
#for index, row in df_cpi.iterrows():
 #       print(index+1, row.Items, row.Changes)

In [35]:
def monthToNum(shortMonth):
    return {
            'JAN': 1,
            'FEB': 2,
            'MAC': 3,
            'APR': 4,
            'MEI': 5,
            'JUN': 6,
            'JUL': 7,
            'OGO': 8,
            'SEP': 9, 
            'OKT': 10,
            'NOV': 11,
            'DIS': 12
    }[shortMonth]

In [44]:
latest_month = df.parse(0).iloc[2].dropna()[1]
latest_month

'DIS'

In [45]:
monthToNum(latest_month)

12

In [46]:
"""
import pyodbc, os
from datetime import date, datetime

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_gdp.iterrows():
   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
    #                index+1, row.AnnualGrowthRate)

#for index, row in df_cpi.iterrows():
#    cursor.execute("INSERT INTO Economy.CPI (Indicator_ID, Items_ID,Country_ID, Year, Changes_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?)",
#                    3, index+1,1, int(latest_year),row.Changes, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)

for index, row in df_cpi_annual.iterrows():
    cursor.execute('[dbo].[SP_CPI_I_220117] @Indicator_ID = 3 , @Items_ID = '+str(index+1)+' , @Country_ID= 1 ,@Year='+str(latest_year)+', @Month = '+str(monthToNum(latest_month))+', @Changes_percentage='+ str(row.Changes)+', @Is_M2M =0')

for index, row in df_cpi_monthly.iterrows():
    cursor.execute('[dbo].[SP_CPI_I_220117] @Indicator_ID = 3 , @Items_ID = '+str(index+1)+' , @Country_ID= 1 ,@Year='+str(latest_year)+', @Month = '+str(monthToNum(latest_month))+', @Changes_percentage='+ str(row.Changes)+', @Is_M2M =1')

    
cnxn.commit()
cursor.close()

"""

'\nimport pyodbc, os\nfrom datetime import date, datetime\n\nserver = \'DESKTOP-U753JSI\' \ndatabase = \'Economic\' \ncnxn = pyodbc.connect(\'DRIVER={SQL Server};SERVER=\'+server+\';DATABASE=\'+database+\';Trusted_Connection = yes\')\ncursor = cnxn.cursor()\n# Insert Dataframe into SQL Server:\n#for index, row in df_gdp.iterrows():\n   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",\n    #                index+1, row.AnnualGrowthRate)\n\n#for index, row in df_cpi.iterrows():\n#    cursor.execute("INSERT INTO Economy.CPI (Indicator_ID, Items_ID,Country_ID, Year, Changes_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?)",\n#                    3, index+1,1, int(latest_year),row.Changes, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1,1,0)\n\nfor index, row in df_cpi_annual.iterrows():\n    cursor.execute(\'[dbo].[SP_CPI_I_220117] @Indicator_ID = 3 , @Items_ID = \'+str(index+1)+\' , @Country_ID= 1 ,@Year=\'+str(latest_year)+\', @Month = \'+str(monthToNum(latest_month))+\', @Changes_percentage=\'+ str(row.Changes)+\', @Is_M2M =0\')\n\nfor index, row in df_cpi_monthly.iterrows():\n    cursor.execute(\'[dbo].[SP_CPI_I_220117] @Indicator_ID = 3 , @Items_ID = \'+str(index+1)+\' , @Country_ID= 1 ,@Year=\'+str(latest_year)+\', @Month = \'+str(monthToNum(latest_month))+\', @Changes_percentage=\'+ str(row.Changes)+\', @Is_M2M =1\')\n\n    \ncnxn.commit()\ncursor.close()\n\n'

In [40]:
df3

,Unnamed: 0,Unnamed: 1,Jumlah Total,Kumpulan Group 01,Kumpulan Group 02,Kumpulan Group 03,Kumpulan Group 04,Kumpulan Group 05,Kumpulan Group 06,Kumpulan Group 07,Kumpulan Group 08,Kumpulan Group 09,Kumpulan Group 10,Kumpulan Group 11,Kumpulan Group 12,IHP Tanpa Bahan Api CPI without Fuel
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wajaran: Weight:,NaN,100.0,29.5,2.4,3.2,23.8,4.1,1.9,14.6,4.8,4.8,1.3,2.9,6.7,-
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2020,JAN,0.1,0.1,-0.1,-0.1,0.0,0.0,0.2,0.1,0.0,0.2,0.4,0.1,0.4,0.1
6,NaN,FEB,0.0,0.1,0.1,0.0,0.3,0.1,0.1,-1.0,0.0,0.0,0.1,0.2,-0.1,0.1
7,NaN,MAC,-1.2,-0.1,0.1,-0.1,0.0,0.0,0.3,-8.7,0.0,-0.1,0.0,-0.2,0.4,0
8,NaN,APR,-2.7,-0.1,0.0,0.0,-3.8,-0.4,0,-13.5,0.0,0.0,-0.1,0.0,-0.2,-1.1
9,NaN,MEI,0.3,0.3,0.1,0.0,-0.1,-0.2,0,1.0,0.0,0.0,-0.1,0.1,0.5,0.1
10,NaN,JUN,1.0,0.4,0.1,-0.1,0.0,0.1,0.1,7.8,0.0,0.0,-0.2,-0.4,0.4,0.2
11,NaN,JUL,0.7,0.1,0.1,0.0,0.0,0.3,0.1,4.9,0.0,0.0,0.4,-0.1,0.3,0.1
12,NaN,OGO,0.2,0.1,0.1,0.0,0.2,0.0,0.1,0.4,0.0,-0.1,0.0,0.1,0.7,0.3
13,NaN,SEP,0.0,-0.1,0.1,0.0,0.0,0.1,0,0.0,0.0,0.1,0.1,0.2,0.0,-0.1
14,NaN,OKT,0.1,0.1,0.0,-0.1,0.0,0.0,0.1,-0.1,0.0,0.1,0.0,0.0,-0.1,0.1
15,NaN,NOV,-0.2,-0.1,0.1,0.0,0.1,-0.1,0,-1.0,0.0,0.0,-0.1,0.0,-0.1,0
16,NaN,DIS,0.5,0.5,0.0,0.0,0.0,0.1,0,3.0,0.0,0.0,0.0,0.0,-0.2,0.2
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2021,JAN,1.2,0.2,0.1,-0.1,2.6,0.3,0,3.7,0.0,0.1,0.0,0.2,0.1,0.7
19,NaN,FEB,0.3,0,0.0,0.0,0.2,0.2,0.1,2.3,0.0,0.0,0.0,-0.1,-0.3,0
20,NaN,MAC,0.3,0,0.1,0.0,0.0,0.6,0.1,2.3,0.0,0.4,-0.1,0.1,-0.2,0.1
21,NaN,APR,0.2,0.3,0.1,-0.1,0.1,0.3,0,0.1,0.0,0.2,0.2,0.2,0.1,0.2
22,NaN,MEI,0.0,-0.1,0.1,-0.1,0.0,0.3,0.1,0.2,0.0,-0.1,0.0,0.1,0.0,0
23,NaN,JUN,0.1,0.3,0.1,0.0,0.0,0.0,0,-0.2,0.0,0.0,0.0,0.0,0.1,0.1
24,NaN,JUL,-0.6,0,-0.1,0.0,-2.5,0.0,0,0.3,0.0,0.0,0.0,0.1,0.0,-0.6
25,NaN,OGO,0.0,0.1,0.0,0.0,0.1,0.0,0,-0.1,0.0,0.0,-0.1,0.0,0.0,0
26,NaN,SEP,0.2,0.6,0.1,-0.1,0.1,0.1,0,0.0,0.0,0.0,0.0,-0.2,0.1,0.2
27,NaN,OKT,0.7,0.2,-0.1,0.0,2.5,0.4,0,0.2,0.0,-0.4,0.0,0.3,0.3,0.8
28,NaN,NOV,0.2,0.6,0.1,0.0,0.2,0.3,0,0.3,0.0,0.0,0.1,0.3,0.2,0.3
29,NaN,DIS,0.4,1,0.0,0.0,0.0,0.3,0,0.1,0.0,0.3,0.1,0.4,0.2,0.4
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Nota / Notes :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Kumpulan / Group 01 ...,NaN,NaN,Makanan & Minuman Bukan Alkohol / Food & Non-A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Kumpulan / Group 02 ...,NaN,NaN,Minuman Alkohol & Tembakau / Alcoholic Beverag...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Kumpulan / Group 03 ...,NaN,NaN,Pakaian & Kasut / Clothing & Footwear,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Kumpulan / Group 04,NaN,NaN,"Perumahan, Air, Elektrik, Gas & Bahan Api Lain...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Kumpulan / Group 05,NaN,NaN,"Hiasan, Perkakasan & Penyelenggaraan Isi Rumah...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Kumpulan / Group 06 ...,NaN,NaN,Kesihatan / Health,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Kumpulan / Group 07 ...,NaN,NaN,Pengangkutan / Transport,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Kumpulan / Group 08 ...,NaN,NaN,Komunikasi / Communication,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Kumpulan / Group 09 ...,NaN,NaN,Perkhidmatan Rekreasi & Kebudayaan / Recreatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Kumpulan / Group 10 ...,NaN,NaN,Pendidikan / Education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Kumpulan / Group 11 ...,NaN,NaN,Restoran & Hotel / Restaurants & Hotels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Kumpulan / Group 12 ...,NaN,NaN,Pelbagai Barangan & Perkhidmatan / Miscellaneo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
import pyodbc, os
from datetime import date, datetime

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_gdp.iterrows():
   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
    #                index+1, row.AnnualGrowthRate)

#for index, row in df_cpi.iterrows():
#    cursor.execute("INSERT INTO Economy.CPI (Indicator_ID, Items_ID,Country_ID, Year, Changes_percentage, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?)",
#                    3, index+1,1, int(latest_year),row.Changes, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)


for i in range(11, 23):
    #print(df2.iloc[i][1])
    items_id = 1
    for j in range(3, 15):
        cursor.execute('[dbo].[SP_CPI_I_220117] @Indicator_ID = 3 , @Items_ID = '+str(items_id)+' , @Country_ID= 1 ,@Year= 2020, @Month = '+str(monthToNum(df2.iloc[i][1]))+', @Changes_percentage='+ str(df2.iloc[i][j])+', @Is_M2M =0')
        items_id +=1
    cursor.execute('[dbo].[SP_CPI_I_220117] @Indicator_ID = 3 , @Items_ID = '+str(items_id)+' , @Country_ID= 1 ,@Year= 2020, @Month = '+str(monthToNum(df2.iloc[i][1]))+', @Changes_percentage='+ str(df2.iloc[i][2])+', @Is_M2M =0')

        #print(df2.iloc[i][j])

for i in range(24, 36):
    #print(df2.iloc[i][1])
    items_id = 1
    for j in range(3, 15):
        cursor.execute('[dbo].[SP_CPI_I_220117] @Indicator_ID = 3 , @Items_ID = '+str(items_id)+' , @Country_ID= 1 ,@Year= 2021, @Month = '+str(monthToNum(df2.iloc[i][1]))+', @Changes_percentage='+ str(df2.iloc[i][j])+', @Is_M2M =0')
        items_id +=1
    cursor.execute('[dbo].[SP_CPI_I_220117] @Indicator_ID = 3 , @Items_ID = '+str(items_id)+' , @Country_ID= 1 ,@Year= 2021, @Month = '+str(monthToNum(df2.iloc[i][1]))+', @Changes_percentage='+ str(df2.iloc[i][2])+', @Is_M2M =0')
  
        #print(df2.iloc[i][j])

for i in range(5, 17):
    #print(df3.iloc[i][1])
    items_id = 1
    for j in range(3, 15):
        cursor.execute('[dbo].[SP_CPI_I_220117] @Indicator_ID = 3 , @Items_ID = '+str(items_id)+' , @Country_ID= 1 ,@Year= 2020, @Month = '+str(monthToNum(df3.iloc[i][1]))+', @Changes_percentage='+ str(df3.iloc[i][j])+', @Is_M2M =1')
        items_id +=1  
    cursor.execute('[dbo].[SP_CPI_I_220117] @Indicator_ID = 3 , @Items_ID = '+str(items_id)+' , @Country_ID= 1 ,@Year= 2020, @Month = '+str(monthToNum(df3.iloc[i][1]))+', @Changes_percentage='+ str(df3.iloc[i][2])+', @Is_M2M =1')


for i in range(18, 30):
    #print(df3.iloc[i][1])
    items_id = 1
    for j in range(3, 15):
        cursor.execute('[dbo].[SP_CPI_I_220117] @Indicator_ID = 3 , @Items_ID = '+str(items_id)+' , @Country_ID= 1 ,@Year= 2021, @Month = '+str(monthToNum(df3.iloc[i][1]))+', @Changes_percentage='+ str(df3.iloc[i][j])+', @Is_M2M =1')
        items_id +=1 
    cursor.execute('[dbo].[SP_CPI_I_220117] @Indicator_ID = 3 , @Items_ID = '+str(items_id)+' , @Country_ID= 1 ,@Year= 2021, @Month = '+str(monthToNum(df3.iloc[i][1]))+', @Changes_percentage='+ str(df3.iloc[i][2])+', @Is_M2M =1')
        
#for index, row in df_cpi_annual.iterrows():
#    cursor.execute('[dbo].[SP_CPI_I_220117] @Indicator_ID = 3 , @Items_ID = '+str(index+1)+' , @Country_ID= 1 ,@Year=2021, @Month = '+str(monthToNum(latest_month))+', @Changes_percentage='+ str(row.Changes)+', @Is_M2M =0')

#for index, row in df_cpi_monthly.iterrows():
#    cursor.execute('[dbo].[SP_CPI_I_220117] @Indicator_ID = 3 , @Items_ID = '+str(index+1)+' , @Country_ID= 1 ,@Year=2021, @Month = '+str(monthToNum(latest_month))+', @Changes_percentage='+ str(row.Changes)+', @Is_M2M =1')

        
        


    
cnxn.commit()
cursor.close()