In [1]:
import pandas as pd

In [2]:
df = pd.ExcelFile('Publication Table LFR December 2021.xlsx')

In [3]:
df.sheet_names

['Table A',
 'Table B',
 'Table B1',
 'Table B2-B3',
 'Table C',
 'Table D',
 'Table E',
 "Table E_cont'd",
 'Table F',
 'Table G',
 'Sheet13']

In [4]:
df.sheet_names[0]

'Table A'

In [5]:
#df.parse('Table A')

In [6]:
#df.parse('Table A').head()

In [7]:
df.parse('Table C', header = 3).head(30)

,Time Series,Labour\nForce,Employed,Unemployed,Outside Labour Force,Labour Force Participation Rate,Employment to Population Ratio,Unemployment Rate,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,January,12367.891,11931.152,436.739,6927.510,64.10,61.83,3.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,February,12059.800,11632.300,427.400,7225.100,62.53,60.32,3.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,March,12324.200,11895.900,428.300,6993.000,63.80,61.58,3.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,April,12512.010,12133.505,378.505,6894.505,64.47,62.52,3.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,May,12197.600,11798.900,398.700,7186.000,62.93,60.87,3.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,June,12331.800,11882.200,449.600,7065.000,63.58,61.26,3.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,July,12516.196,12099.494,416.702,6900.457,64.46,62.32,3.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,August,12320.900,11936.500,384.300,7157.900,63.25,61.28,3.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,September,12289.900,11912.100,377.800,7194.400,63.08,61.14,3.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,October,12689.500,12342.600,346.800,6846.700,64.95,63.18,2.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,November,12277.466,11874.113,403.353,7298.313,62.72,60.66,3.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,December,12822.341,12418.255,404.086,6722.319,65.61,63.54,3.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,January,12804.193,12376.008,428.185,6881.623,65.04,62.87,3.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,February,12618.903,12245.296,373.607,7110.270,63.96,62.07,2.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,March,12862.200,12491.800,370.400,6940.100,64.95,63.08,2.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,April,12921.678,12537.109,384.569,6930.574,65.09,63.15,2.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,May,12726.628,12330.288,396.340,7133.230,64.08,62.09,3.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,June,12782.659,12372.566,410.093,7073.704,64.38,62.31,3.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,July,12967.390,12581.506,385.884,6920.455,65.20,63.26,2.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,August,12887.900,12486.700,401.200,7038.600,64.68,62.66,3.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,September,12875.857,12456.872,418.985,7032.178,64.68,62.57,3.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,October,12938.227,12550.107,388.120,7045.657,64.74,62.80,3.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,November,12722.430,12323.693,398.737,7245.700,63.71,61.72,3.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,December,13092.115,12687.249,404.866,6997.310,65.17,63.15,3.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,January,13191.637,12781.253,410.384,6878.488,65.73,63.68,3.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,February,13054.519,12645.628,408.891,7042.264,64.96,62.92,3.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,March,13295.406,12893.842,401.564,6897.344,65.84,63.85,3.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.parse('Table C', header = 3).tail(60)

,Time Series,Labour\nForce,Employed,Unemployed,Outside Labour Force,Labour Force Participation Rate,Employment to Population Ratio,Unemployment Rate,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
96,May,14961.900,14454.400,507.500,7120.800,67.750000,65.460000,3.390000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,June,15027.600,14519.900,507.700,7141.100,67.790000,65.500000,3.380000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,July,15016.400,14497.400,519.000,7150.400,67.740000,65.400000,3.460000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,August,15030.200,14513.400,516.900,7138.400,67.800000,65.470000,3.440000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,September,15058.800,14544.300,514.500,7122.100,67.890000,65.570000,3.420000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,October,15090.400,14581.700,508.800,7117.700,67.950000,65.660000,3.370000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,November,15084.000,14578.900,505.100,7121.400,67.930000,65.650000,3.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,December,15145.900,14640.100,505.800,7084.100,68.130000,65.860000,3.340000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,January,15187.000,14670.500,516.500,7074.800,68.220000,65.900000,3.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,February,15230.000,14721.500,508.500,7112.300,68.170000,65.890000,3.340000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,March,15241.200,14732.500,508.700,7115.000,68.170000,65.900000,3.340000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,April,15313.100,14803.100,510.000,7130.900,68.230000,65.960000,3.330000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,May,15357.500,14852.600,504.800,7097.100,68.390000,66.100000,3.290000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,June,15379.000,14863.200,515.800,7062.200,68.530000,66.230000,3.350000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,July,15401.000,14882.400,518.600,7044.500,68.620000,66.300000,3.370000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,August,15421.400,14896.500,525.000,7133.900,68.370000,66.040000,3.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,September,15442.900,14926.500,516.400,7096.800,68.510000,66.220000,3.340000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,October,15450.000,14937.100,512.900,7093.700,68.530000,66.260000,3.320000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,November,15457.500,14941.300,516.200,7151.200,68.370000,66.090000,3.340000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,December,15500.100,14986.000,514.200,7120.100,68.520000,66.250000,3.320000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,January,15508.500,14992.800,515.600,7095.879,68.610000,66.330000,3.320000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,February,15543.200,15026.800,516.400,7145.900,68.510000,66.230000,3.320000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,March,15556.554,15035.233,521.321,7169.387,68.450000,66.160000,3.350000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,April,15613.141,15089.840,523.303,7184.380,68.490000,66.190000,3.350000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,May,15642.284,15122.467,519.817,7190.031,68.510000,66.230000,3.320000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,June,15655.947,15134.558,521.400,7156.700,68.630000,66.340000,3.330000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,July,15704.558,15179.753,524.805,7207.749,68.540000,66.250000,3.340000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,August,15705.960,15185.778,520.182,7172.405,68.600000,66.380000,3.310000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,September,15751.227,15229.878,521.400,7159.813,68.700000,66.470000,3.310000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,October,15777.725,15265.599,512.126,7175.002,68.740000,66.510000,3.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,November,15828.944,15315.023,513.921,7174.220,68.810000,66.580000,3.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,December,15803.024,15286.033,516.991,7129.820,68.910000,66.660000,3.270000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,January,15829.283,15317.600,511.687,7128.908,68.900000,66.720000,3.230000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,February,15869.753,15344.500,525.228,7224.043,68.720000,66.440000,3.310000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,March,15842.926,15232.400,610.537,7239.769,68.640000,65.990000,3.850000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,April,15712.192,14933.400,778.790,7345.110,68.140000,64.770000,4.960000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,May,15714.000,14887.900,826.100,7392.062,68.008059,64.433105,5.256666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,June,15763.451,14990.200,773.247,7398.469,68.100000,64.700000,4.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,July,15818.500,15073.406,745.100,7399.800,68.100000,64.900000,4.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,August,15895.092,15153.500,741.600,7351.500,68.400000,65.185877,4.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,September,15930.600,15193.100,737.500,7359.800,68.400000,65.200000,4.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,October,15955.300,15207.100,748.200,7347.700,68.500000,65.300000,4.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,November,15960.500,15196.100,764.392,7374.824,68.400000,65.120654,4.789271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,December,15988.300,15215.400,772.891,7372.186,68.400000,65.120654,4.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,January,16019.800,15237.300,782.500,7366.200,68.500000,65.200000,4.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,February,16048.200,15270.600,777.500,7371.400,68.500000,65.200000,4.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,March,16082.500,15329.300,753.200,7363.700,68.600000,65.400000,4.700000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,April,16094.700,15352.000,742.700,7376.800,68.600000,65.400000,4.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,May,16098.900,15370.800,728.100,7398.000,68.500000,65.400000,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,June,16066.200,15297.500,768.700,7456.800,68.300000,65.000000,4.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,July,16072.900,15294.800,778.200,7475.400,68.300000,65.000000,4.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,August,16125.400,15376.600,748.800,7448.500,68.400000,65.200000,4.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,September,16193.100,15463.500,729.600,7405.900,68.600000,65.500000,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,October,16259.600,15554.600,705.000,7364.500,68.800000,65.800000,4.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,November,16304.700,15610.300,694.400,7344.400,68.900000,66.000000,4.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,December,16336.200,15648.600,687.600,7337.800,69.000000,66.100000,4.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df1= df.parse('Table C',header = 3)
df1.head()

,Time Series,Labour\nForce,Employed,Unemployed,Outside Labour Force,Labour Force Participation Rate,Employment to Population Ratio,Unemployment Rate,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,January,12367.891,11931.152,436.739,6927.510,64.10,61.83,3.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,February,12059.800,11632.300,427.400,7225.100,62.53,60.32,3.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,March,12324.200,11895.900,428.300,6993.000,63.80,61.58,3.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,April,12512.010,12133.505,378.505,6894.505,64.47,62.52,3.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df1.tail()

In [11]:
print(df1['Time Series'][117])
for i in range(118, 130):
    print(df1['Time Series'][i], int(df1['Unemployed'][i]*1000), df1['Unemployment Rate'][i])

NameError: name 'df1' is not defined

In [12]:
print(df1['Time Series'][130])
for i in range(131, 143):
    print(df1['Time Series'][i], int(df1['Unemployed'][i]*1000), df1['Unemployment Rate'][i])

NameError: name 'df1' is not defined

In [13]:
print(df1['Time Series'][143])
for i in range(144, 156):
    print(monthToNum(df1['Time Series'][i]), int(df1['Unemployed'][i]*1000), df1['Unemployment Rate'][i])

NameError: name 'df1' is not defined

In [14]:
row = 105
year_index = row -1

for i in range(row, row+12):
    print(df1['Time Series'][year_index], df1['Time Series'][i], int(df1['Unemployed'][i]*1000), df1['Unemployment Rate'][i])

row +=13
year_index = row -1

for i in range(row, row+12):
    print(df1['Time Series'][year_index], df1['Time Series'][i], int(df1['Unemployed'][i]*1000), df1['Unemployment Rate'][i])

NameError: name 'df1' is not defined

In [15]:
df1.iloc[-1, 0]

NameError: name 'df1' is not defined

In [16]:
df1['Unemployment Rate']

NameError: name 'df1' is not defined

In [18]:
#df2= df.parse('Table B',header = 3)
#df2.head()

In [19]:
#df2.tail()

In [20]:
#len(df1)

In [21]:
#df1['Unemployment Rate'].iloc[-1]

In [22]:
#int(df2['Unemployed'].iloc[-1]*1000)

In [23]:
#df1['Time Series']

In [24]:
latest_year = pd.to_numeric(df1['Time Series'], errors = 'coerce').dropna().astype(int).iloc[-1]
latest_year

NameError: name 'df1' is not defined

In [21]:
#df1['Time Series']

In [22]:
#latest_month = list(filter(lambda x: isinstance(x, str), df1['Time Series']))[-1]
#latest_month

In [23]:
#df1['Time Series'][df1['Time Series'].apply(lambda x: isinstance(x, str))].iloc[-1]

In [24]:
"""
from datetime import date, datetime

latest_month = list(filter(lambda x: isinstance(x, str), df1['Time Series']))[-1]

latest_month = datetime.strptime(latest_month, '%B').month

latest_month

"""

10

In [25]:
print('Unemployment rate for the latest month is', df1['Unemployment Rate'].iloc[-1],'%')

Unemployment rate for the latest month is 4.3 %

In [26]:
print('Unemployed figure for the latest month is',int(df1['Unemployed'].iloc[-1]*1000))

Unemployed figure for the latest month is 705000

In [27]:
"""
import pyodbc

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_cpi.iterrows():
cursor.execute("INSERT INTO LabourForceSurvey (Unemployment_rate, Unemployed_figure) values(?,?)",
               df1['Unemployment Rate'].iloc[-1], int(df1['Unemployed'].iloc[-1]*1000))

cnxn.commit()
cursor.close()
"""

'\nimport pyodbc\n\nserver = \'DESKTOP-U753JSI\' \ndatabase = \'Economic\' \ncnxn = pyodbc.connect(\'DRIVER={SQL Server};SERVER=\'+server+\';DATABASE=\'+database+\';Trusted_Connection = yes\')\ncursor = cnxn.cursor()\n# Insert Dataframe into SQL Server:\n#for index, row in df_cpi.iterrows():\ncursor.execute("INSERT INTO LabourForceSurvey (Unemployment_rate, Unemployed_figure) values(?,?)",\n               df1[\'Unemployment Rate\'].iloc[-1], int(df1[\'Unemployed\'].iloc[-1]*1000))\n\ncnxn.commit()\ncursor.close()\n'

In [28]:
"""
import pyodbc
import os, time
from datetime import date, datetime

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_cpi.iterrows():
cursor.execute("INSERT INTO Economy.LabourForce (Indicator_ID,Country_ID, Year, Month, Unemployment_rate, Unemployed_figure, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?)",
               4, 1, int(latest_year), latest_month, df1['Unemployment Rate'].iloc[-1], int(df1['Unemployed'].iloc[-1]*1000), datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)

cnxn.commit()
cursor.close()

"""

'\nimport pyodbc\nimport os, time\nfrom datetime import date, datetime\n\nserver = \'DESKTOP-U753JSI\' \ndatabase = \'Economic\' \ncnxn = pyodbc.connect(\'DRIVER={SQL Server};SERVER=\'+server+\';DATABASE=\'+database+\';Trusted_Connection = yes\')\ncursor = cnxn.cursor()\n# Insert Dataframe into SQL Server:\n#for index, row in df_cpi.iterrows():\ncursor.execute("INSERT INTO Economy.LabourForce (Indicator_ID,Country_ID, Year, Month, Unemployment_rate, Unemployed_figure, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?)",\n               4, 1, int(latest_year), latest_month, df1[\'Unemployment Rate\'].iloc[-1], int(df1[\'Unemployed\'].iloc[-1]*1000), datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1,1,0)\n\ncnxn.commit()\ncursor.close()\n\n'

In [17]:
str(latest_year)

NameError: name 'latest_year' is not defined

In [25]:
def monthToNum(Month):
    return {
            'January': 1,
            'February': 2,
            'March': 3,
            'April': 4,
            'May': 5,
            'June': 6,
            'July': 7,
            'August': 8,
            'August ': 8,
            'September': 9, 
            'October': 10,
            'November': 11,
            'December': 12
    }[Month]

Push data to SQLite database

In [26]:
import sqlite3
from sqlite3 import Error

#Create table

def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)


def main():
    database = r"C:\Users\zhenl\Desktop\New Shiny App\new\economic.db"

    sql_create_lf_table = """ CREATE TABLE IF NOT EXISTS LabourForce (
                                        ID INTEGER PRIMARY KEY,
                                        Indicator_ID smallint NOT NULL,
                                        Country_ID smallint NOT NULL,
                                        Year smallint NOT NULL,
                                        Month smallint NOT NULL,
                                        Unemployment_rate float NOT NULL,
                                        Unemployed_figure int NOT NULL,
                                        Date_Created datetime,
                                        Created_By smallint NOT NULL,
                                        Date_Modified datetime,
                                        Modified_By,
                                        Is_Active bit NOT NULL,
                                        Is_Delete bit NOT NULL
                                        
                                    ); """

   
    # create a database connection
    conn = create_connection(database)

    # create tables
    if conn is not None:
        # create projects table
        create_table(conn, sql_create_lf_table)

        # create tasks table
       # create_table(conn, sql_create_tasks_table)
    else:
        print("Error! cannot create the database connection.")


if __name__ == '__main__':
    main()

In [31]:
import sqlite3
from sqlite3 import Error
from datetime import date, datetime


# Insert data
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn


def create_LF(conn, LF):
    """
    Create a new project into the  table
    :param conn:
    :param :
    :return:  id
    """
    sql = ''' INSERT INTO LabourForce(Indicator_ID, Country_ID, Year, Month, Unemployment_rate, Unemployed_figure, Date_Created, Created_By, Date_Modified, Modified_By, Is_Active, Is_Delete)
              VALUES(?,?,?,?,?,?,?,?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, LF)
    conn.commit()
    return cur.lastrowid





def main():
    database = r"C:\Users\zhenl\Desktop\New Shiny App\new\economic.db"

    # create a database connection
    conn = create_connection(database)
    with conn:
        
        row = 105
        year_index = row -1
        
        for i in range(row, row+12):
            LF = (4, 1, df1['Time Series'][year_index], monthToNum(df1['Time Series'][i]), df1['Unemployment Rate'][i], int(df1['Unemployed'][i]*1000), '-', 1, datetime.now().strftime('%Y/%m/%d'),1,1,0 );
            create_LF(conn, LF)
            #cursor.execute('[dbo].[SP_LABORFORCE_I_220114] @Indicator_ID = 4 ,@Country_ID= 1 ,@Year='+str(df1['Time Series'][year_index])+',@Month='+str(monthToNum (df1['Time Series'][i]))+',@Unemployment_Rate='+str(df1['Unemployment Rate'][i])+',@Unemployment_Figure='+str( int(df1['Unemployed'][i]*1000)))
            
        row +=13
        year_index = row -1
        
        for i in range(row, row+12):
            LF = (4, 1, df1['Time Series'][year_index], monthToNum(df1['Time Series'][i]), df1['Unemployment Rate'][i], int(df1['Unemployed'][i]*1000), '-', 1, datetime.now().strftime('%Y/%m/%d'),1,1,0 );
            create_LF(conn, LF)
          #  cursor.execute('[dbo].[SP_LABORFORCE_I_220114] @Indicator_ID = 4 ,@Country_ID= 1 ,@Year='+str(df1['Time Series'][year_index])+',@Month='+str(monthToNum (df1['Time Series'][i]))+',@Unemployment_Rate='+str(df1['Unemployment Rate'][i])+',@Unemployment_Figure='+str( int(df1['Unemployed'][i]*1000)))
            
        row +=13
        year_index = row -1
        
        for i in range(row, row+12):
            LF = (4, 1, df1['Time Series'][year_index], monthToNum(df1['Time Series'][i]), df1['Unemployment Rate'][i], int(df1['Unemployed'][i]*1000), '-', 1, datetime.now().strftime('%Y/%m/%d'),1,1,0 );
            create_LF(conn, LF)
           # cursor.execute('[dbo].[SP_LABORFORCE_I_220114] @Indicator_ID = 4 ,@Country_ID= 1 ,@Year='+str(df1['Time Series'][year_index])+',@Month='+str(monthToNum (df1['Time Series'][i]))+',@Unemployment_Rate='+str(df1['Unemployment Rate'][i])+',@Unemployment_Figure='+str( int(df1['Unemployed'][i]*1000)))
            
        row +=13
        year_index = row -1
        
        for i in range(row, row+12):
            LF = (4, 1, df1['Time Series'][year_index], monthToNum(df1['Time Series'][i]), df1['Unemployment Rate'][i], int(df1['Unemployed'][i]*1000), '-', 1, datetime.now().strftime('%Y/%m/%d'),1,1,0 );
            create_LF(conn, LF)
           # cursor.execute('[dbo].[SP_LABORFORCE_I_220114] @Indicator_ID = 4 ,@Country_ID= 1 ,@Year='+str(df1['Time Series'][year_index])+',@Month='+str(monthToNum (df1['Time Series'][i]))+',@Unemployment_Rate='+str(df1['Unemployment Rate'][i])+',@Unemployment_Figure='+str( int(df1['Unemployed'][i]*1000)))
 
        
       

            
            
            
            

if __name__ == '__main__':
    main()

Push data to SQL server

In [62]:
import pyodbc
import os, time
from datetime import date, datetime

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_cpi.iterrows():
#cursor.execute('[dbo].[SP_LABORFORCE_I_220114] @Indicator_ID = 4 ,@Country_ID= 1 ,@Year='+str(latest_year)+',@Month='+str(latest_month)+',@Unemployment_Rate='+str(df1['Unemployment Rate'].iloc[-1])+',@Unemployment_Figure='+str(int(df1['Unemployed'].iloc[-1]*1000)))

row = 105
year_index = row -1

for i in range(row, row+12):
    cursor.execute('[dbo].[SP_LABORFORCE_I_220114] @Indicator_ID = 4 ,@Country_ID= 1 ,@Year='+str(df1['Time Series'][year_index])+',@Month='+str(monthToNum (df1['Time Series'][i]))+',@Unemployment_Rate='+str(df1['Unemployment Rate'][i])+',@Unemployment_Figure='+str( int(df1['Unemployed'][i]*1000)))

   # print(df1['Time Series'][year_index], df1['Time Series'][i], int(df1['Unemployed'][i]*1000), df1['Unemployment Rate'][i])

row +=13
year_index = row -1

for i in range(row, row+12):
    cursor.execute('[dbo].[SP_LABORFORCE_I_220114] @Indicator_ID = 4 ,@Country_ID= 1 ,@Year='+str(df1['Time Series'][year_index])+',@Month='+str(monthToNum (df1['Time Series'][i]))+',@Unemployment_Rate='+str(df1['Unemployment Rate'][i])+',@Unemployment_Figure='+str( int(df1['Unemployed'][i]*1000)))
    

row +=13
year_index = row -1

for i in range(row, row+12):
    cursor.execute('[dbo].[SP_LABORFORCE_I_220114] @Indicator_ID = 4 ,@Country_ID= 1 ,@Year='+str(df1['Time Series'][year_index])+',@Month='+str(monthToNum (df1['Time Series'][i]))+',@Unemployment_Rate='+str(df1['Unemployment Rate'][i])+',@Unemployment_Figure='+str( int(df1['Unemployed'][i]*1000)))
    
row +=13
year_index = row -1

for i in range(row, row+12):
    cursor.execute('[dbo].[SP_LABORFORCE_I_220114] @Indicator_ID = 4 ,@Country_ID= 1 ,@Year='+str(df1['Time Series'][year_index])+',@Month='+str(monthToNum (df1['Time Series'][i]))+',@Unemployment_Rate='+str(df1['Unemployment Rate'][i])+',@Unemployment_Figure='+str( int(df1['Unemployed'][i]*1000)))
    

    
cnxn.commit()
cursor.close()

In [13]:
#print('aaaa'+'aaaaa')

In [14]:
"""
import pyodbc
import os, time
from datetime import date, datetime

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_gdp.iterrows():
   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
    #                index+1, row.AnnualGrowthRate)

#for index, row in df_annual_growth_rate.iterrows():
 #   cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
  #                  1,index+1,1, int(latest_year), latest_quarter, row.Rate, 0, datetime.fromtimestamp(os.path.getctime("Annual GDP 2015-2020 Tables.xlsx")),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)
    
#for index, row in df_q2q_growth_rate.iterrows():



cursor.execute("INSERT INTO Economy.LabourForce (Indicator_ID,Country_ID, Year, Month, Unemployment_rate, Unemployed_figure, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?)",
                 4,1, int(latest_year), latest_month, df1['Unemployment Rate'].iloc[-1], int(df1['Unemployed'].iloc[-1]*1000, datetime.fromtimestamp(os.path.getctime("Annual GDP 2015-2020 Tables.xlsx")),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)

               
               
#cnxn.commit()    
               
cnxn.commit()
cursor.close()
"""

'\nimport pyodbc\nimport os, time\nfrom datetime import date, datetime\n\nserver = \'DESKTOP-U753JSI\' \ndatabase = \'Economic\' \ncnxn = pyodbc.connect(\'DRIVER={SQL Server};SERVER=\'+server+\';DATABASE=\'+database+\';Trusted_Connection = yes\')\ncursor = cnxn.cursor()\n# Insert Dataframe into SQL Server:\n#for index, row in df_gdp.iterrows():\n   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",\n    #                index+1, row.AnnualGrowthRate)\n\n#for index, row in df_annual_growth_rate.iterrows():\n #   cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",\n  #                  1,index+1,1, int(latest_year), latest_quarter, row.Rate, 0, datetime.fromtimestamp(os.path.getctime("Annual GDP 2015-2020 Tables.xlsx")),1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1,1,0)\n    \n#for index, row in df_q2q_growth_rate.iterrows():\n\n\n\ncursor.execute("INSERT INTO Economy.LabourForce (Indicator_ID,Country_ID, Year, Month, Unemployment_rate, Unemployed_figure, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?)",\n                 4,1, int(latest_year), latest_month, df1[\'Unemployment Rate\'].iloc[-1], int(df1[\'Unemployed\'].iloc[-1]*1000, datetime.fromtimestamp(os.path.getctime("Annual GDP 2015-2020 Tables.xlsx")),1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1,1,0)\n\n               \n               \n#cnxn.commit()    \n               \ncnxn.commit()\ncursor.close()\n'