In [19]:
import pandas as pd

In [20]:
import glob, os

In [21]:
path =r"C:\Users\zhenl\Desktop\Kit Loong\Economic data and python file\Commodities"
filenames = glob.glob(path + "/*.xlsx")

In [22]:
filenames

['C:\\Users\\zhenl\\Desktop\\Kit Loong\\Economic data and python file\\Commodities\\Jad 1-14 Buah-buahan.xlsx',
 'C:\\Users\\zhenl\\Desktop\\Kit Loong\\Economic data and python file\\Commodities\\Jad 15-24 Sayur-Sayuran.xlsx',
 'C:\\Users\\zhenl\\Desktop\\Kit Loong\\Economic data and python file\\Commodities\\Jad 25-29 Tanaman Lain.xlsx',
 'C:\\Users\\zhenl\\Desktop\\Kit Loong\\Economic data and python file\\Commodities\\Jad 30-35 Ternakan.xlsx',
 'C:\\Users\\zhenl\\Desktop\\Kit Loong\\Economic data and python file\\Commodities\\Jad 36-41 Perikanan.xlsx']

In [23]:
filenames[0]

'C:\\Users\\zhenl\\Desktop\\Kit Loong\\Economic data and python file\\Commodities\\Jad 1-14 Buah-buahan.xlsx'

In [24]:
dfs = []
for filename in filenames:
    print(filename)
    dfs.append(pd.ExcelFile(filename))

C:\Users\zhenl\Desktop\Kit Loong\Economic data and python file\Commodities\Jad 1-14 Buah-buahan.xlsx
C:\Users\zhenl\Desktop\Kit Loong\Economic data and python file\Commodities\Jad 15-24 Sayur-Sayuran.xlsx
C:\Users\zhenl\Desktop\Kit Loong\Economic data and python file\Commodities\Jad 25-29 Tanaman Lain.xlsx
C:\Users\zhenl\Desktop\Kit Loong\Economic data and python file\Commodities\Jad 30-35 Ternakan.xlsx
C:\Users\zhenl\Desktop\Kit Loong\Economic data and python file\Commodities\Jad 36-41 Perikanan.xlsx

In [25]:
for filename in filenames:
    #print(filename)
    print(os.path.basename(filename))

Jad 1-14 Buah-buahan.xlsx
Jad 15-24 Sayur-Sayuran.xlsx
Jad 25-29 Tanaman Lain.xlsx
Jad 30-35 Ternakan.xlsx
Jad 36-41 Perikanan.xlsx

In [26]:
dfs

[<pandas.io.excel._base.ExcelFile at 0x2e2b42a4ca0>,
 <pandas.io.excel._base.ExcelFile at 0x2e2b462f430>,
 <pandas.io.excel._base.ExcelFile at 0x2e2b3f33520>,
 <pandas.io.excel._base.ExcelFile at 0x2e2b3f33b20>,
 <pandas.io.excel._base.ExcelFile at 0x2e2b4a57070>]

In [27]:
#dfs[0].parse(0, header=3)

In [28]:
#dfs[0].parse(0).iloc[2].dropna()

In [29]:
latest_year = pd.to_numeric(dfs[0].parse(0).iloc[2], errors='coerce').dropna().astype(int)[-1]
latest_year

2019

In [30]:
#for df in dfs:
 #   print('\033[1m', os.path.basename(df), '\033[0m')
  #  for sh in df.sheet_names:
   #     print(sh)

In [31]:
sum_commodities = 0.0
com = []
for df in dfs:
    print('\033[1m','From the filename:', os.path.basename(df),',','\033[0m')
    for sh in df.sheet_names:
        data = df.parse(sh, header = 3)
        print(sh, data[latest_year][4])
        com.append([sh, data[latest_year][4]])
        sum_commodities += data[latest_year][4]

 From the filename: Jad 1-14 Buah-buahan.xlsx ,
Coconut 790227.9013
Pineapple 305217.34075
Banana 353569.10211
Watermelon 149974.71044999998
Mango 54284.9375
Rambutan 56836.340249999994
Durian 383602.61053999997
Mangosteen 32216.78254
Jackfruit 59722.61022
Guava 39133.72708000001
Sweetcorn 63804.901869999994
Papaya 54087.65091
Starfruit 8063.2548000000015
Langsat 20664.72643
 From the filename: Jad 15-24 Sayur-Sayuran.xlsx ,
Cabbage 185567.77333
Tomato 178350.2042
Chilli 93737.85467
Cucumber 115629.65212999997
Mustard 154301.05890000003
Brinjal 41982.46797
Longbean 63597.55019000001
Ladysfinger 58617.43148
Spinach 78532.15643
Lettuce 57725.728870000006
 From the filename: Jad 25-29 Tanaman Lain.xlsx ,
Cassava 42809.508480000004
Sweetpotato 70129.32068
Sugarcane 20873.88538
Ginger 70957.57051
Lime 21937.202540000006
 From the filename: Jad 30-35 Ternakan.xlsx ,
Beef 191767.69168000002
Mutton 35655.68402
Pork 243142.74676999997
Poultry 1789364.6797699998
Egg 852477.80892
Milk 70639.69153000001
 From the filename: Jad 36-41 Perikanan.xlsx ,
Shrimp 190221.50963200003
Tuna 94644.71197
Mackerel 192905.60283999998
Crab 20388.562270000002
Cuttlefish 96167.21244999999
Tilapia 38605.35763599999

In [32]:
print('Total weight of all commodities for the year', latest_year, 'is', sum_commodities, 'tonnes')

Total weight of all commodities for the year 2019 is 7442137.221997998 tonnes

In [33]:
df_coms = pd.DataFrame(com, columns = ['Items', 'Supply'])
df_coms

          Items        Supply
0       Coconut  7.902279e+05
1     Pineapple  3.052173e+05
2        Banana  3.535691e+05
3    Watermelon  1.499747e+05
4         Mango  5.428494e+04
5      Rambutan  5.683634e+04
6        Durian  3.836026e+05
7    Mangosteen  3.221678e+04
8     Jackfruit  5.972261e+04
9         Guava  3.913373e+04
10    Sweetcorn  6.380490e+04
11       Papaya  5.408765e+04
12    Starfruit  8.063255e+03
13      Langsat  2.066473e+04
14      Cabbage  1.855678e+05
15       Tomato  1.783502e+05
16       Chilli  9.373785e+04
17     Cucumber  1.156297e+05
18      Mustard  1.543011e+05
19      Brinjal  4.198247e+04
20     Longbean  6.359755e+04
21  Ladysfinger  5.861743e+04
22      Spinach  7.853216e+04
23      Lettuce  5.772573e+04
24      Cassava  4.280951e+04
25  Sweetpotato  7.012932e+04
26    Sugarcane  2.087389e+04
27       Ginger  7.095757e+04
28         Lime  2.193720e+04
29         Beef  1.917677e+05
30       Mutton  3.565568e+04
31         Pork  2.431427e+05
32      Poultry  1.789365e+06
33          Egg  8.524778e+05
34         Milk  7.063969e+04
35       Shrimp  1.902215e+05
36         Tuna  9.464471e+04
37     Mackerel  1.929056e+05
38         Crab  2.038856e+04
39   Cuttlefish  9.616721e+04
40      Tilapia  3.860536e+04

In [34]:
"""
for index, row in df_coms.iterrows():
    print(row.Items)
"""

'\nfor index, row in df_coms.iterrows():\n    print(row.Items)\n'

In [35]:
"""
## THis command is to fill up Commodities items ID

import pyodbc

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in df_coms.iterrows():
     cursor.execute("INSERT INTO Economy.Commodities_ID (Commodity_items) values(?)", row.Items)

cursor.execute("INSERT INTO Economy.Commodities_ID (Commodity_items) values(?)", "Total")

cnxn.commit()
cursor.close()

"""

'\n## THis command is to fill up Commodities items ID\n\nimport pyodbc\n\nserver = \'DESKTOP-U753JSI\' \ndatabase = \'Economic\' \ncnxn = pyodbc.connect(\'DRIVER={SQL Server};SERVER=\'+server+\';DATABASE=\'+database+\';Trusted_Connection = yes\')\ncursor = cnxn.cursor()\n# Insert Dataframe into SQL Server:\nfor index, row in df_coms.iterrows():\n     cursor.execute("INSERT INTO Economy.Commodities_ID (Commodity_items) values(?)", row.Items)\n\ncursor.execute("INSERT INTO Economy.Commodities_ID (Commodity_items) values(?)", "Total")\n\ncnxn.commit()\ncursor.close()\n\n'

In [36]:
"""
import pyodbc, os
from datetime import date, datetime

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_gdp.iterrows():
   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
    #                index+1, row.AnnualGrowthRate)
index_total = 1
for index, row in df_coms.iterrows():
    index_total +=1
    cursor.execute("INSERT INTO Economy.Commodities (Indicator_ID, Commodities_ID, Country_ID, Year, Volume_tonnes, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?)",
                    6, index+1, 1, int(latest_year),row.Supply, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)

cursor.execute("INSERT INTO Economy.Commodities (Indicator_ID, Commodities_ID, Country_ID, Year, Volume_tonnes, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?)",
                    6, index_total, 1, int(latest_year),sum_commodities, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)

cnxn.commit()
cursor.close()
"""

'\nimport pyodbc, os\nfrom datetime import date, datetime\n\nserver = \'DESKTOP-U753JSI\' \ndatabase = \'Economic\' \ncnxn = pyodbc.connect(\'DRIVER={SQL Server};SERVER=\'+server+\';DATABASE=\'+database+\';Trusted_Connection = yes\')\ncursor = cnxn.cursor()\n# Insert Dataframe into SQL Server:\n#for index, row in df_gdp.iterrows():\n   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",\n    #                index+1, row.AnnualGrowthRate)\nindex_total = 1\nfor index, row in df_coms.iterrows():\n    index_total +=1\n    cursor.execute("INSERT INTO Economy.Commodities (Indicator_ID, Commodities_ID, Country_ID, Year, Volume_tonnes, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?)",\n                    6, index+1, 1, int(latest_year),row.Supply, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1,1,0)\n\ncursor.execute("INSERT INTO Economy.Commodities (Indicator_ID, Commodities_ID, Country_ID, Year, Volume_tonnes, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?)",\n                    6, index_total, 1, int(latest_year),sum_commodities, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1, datetime.now().strftime(\'%Y/%m/%d %H:%M:%S\'),1,1,0)\n\ncnxn.commit()\ncursor.close()\n'

In [37]:
import pyodbc, os
from datetime import date, datetime

server = 'DESKTOP-U753JSI' 
database = 'Economic' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection = yes')
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df_gdp.iterrows():
   #  cursor.execute("INSERT INTO Economy.GDPRecord (Indicator_ID,Sector_ID,Country_ID, Year,Quarter, Value,Is_Q2Q,Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?,?,?)",
    #                index+1, row.AnnualGrowthRate)
index_total = 1
for index, row in df_coms.iterrows():
    index_total +=1
    cursor.execute('[dbo].[SP_COMMODITIES_I_220117] @Indicator_ID = 6 , @Commodities_ID = '+str(index+1)+' , @Country_ID= 1 ,@Year='+str(latest_year)+', @Volume_tonnes='+ str(row.Supply))

cursor.execute('[dbo].[SP_COMMODITIES_I_220117] @Indicator_ID = 6 , @Commodities_ID = '+str(index_total)+' , @Country_ID= 1 ,@Year='+str(latest_year)+', @Volume_tonnes='+ str(sum_commodities))

    
#cursor.execute("INSERT INTO Economy.Commodities (Indicator_ID, Commodities_ID, Country_ID, Year, Volume_tonnes, Date_Created, Created_By,Date_Modified, Modified_By, Is_Active, Is_Delete) values(?,?,?,?,?,?,?,?,?,?,?)",
 #                   6, index_total, 1, int(latest_year),sum_commodities, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1, datetime.now().strftime('%Y/%m/%d %H:%M:%S'),1,1,0)

cnxn.commit()
cursor.close()